.articles-header {
    padding-top: 135px;
    .col-md-10 {
        padding-left: 0;
    }
    .search-bar {
        margin-top: 0;
        &__wrap {
            margin: 0;
            box-shadow: 0 0 7px 1px rgba(0,0,0,0.15);
        }
    }
		// .articles-header__title

		&__title {
            @extend %article-search-title;
            margin-bottom: 28px;
		}

		// .articles-header__last-wrap

		&__last-wrap {
            display: grid;
            grid-template-areas: 
            "first second"
            "first third";
            margin-top: 39px;
            padding-left: 1px;
            padding-right: 4px;
		}

		// .articles-header__item

		&__item {
            position: relative;
            overflow: hidden;
			// .articles-header__item_first

			&_first {
                grid-area: first;
                width: 570px;
                height: 448px;
                margin-right: 3px;
                .articles-header__content {
                    padding-top: 313px;
                    padding-left: 30px;
                    max-width: 490px;
                }
                .articles-header__item-title {
                    @extend %article-search-item-title-big;
                    margin-bottom: 7px;
                }
			}
            
            // .articles-header__item_second

			&_second {
                grid-area: second;
                height: 208px;
                margin-bottom: 29px;
			}
            
            // .articles-header__item_third

			&_third {
                grid-area: third;
                height: 208px;
			}
		}

		// .articles-header__item-img

		&__item-img {
            position: absolute;
            width: 100%;
            height: auto;
            z-index: -1;
		}

		// .articles-header__content

		&__content {
            padding: 108px 0 0 30px;
            max-width: 343px;
		}

		// .articles-header__item-title

		&__item-title {
            @extend %article-search-item-title-small;
            margin-bottom: 11px;
		}

		// .articles-header__text

		&__text {
            @extend %article-search-item-about;
            span {
                display: inline-block;
                &:first-child {
                    margin-right: 4px;
                }
                &:last-child {
                    margin-left: 4px;
                }
            }
		}
}
.container {
}
.row {
}
.col-md-6 {
}
.offset-lg-1 {
}
.search-bar {

		// .search-bar__wrap

		&__wrap {
		}

		// .search-bar__input

		&__input {
		}

		// .search-bar__button

		&__button {
		}
}
.col-md-10 {
}
.m-auto {
}
