.nav-article-page {
    .navigation {
        // position: relative;
        // margin: 0 auto;
        // width: auto;
        padding-top: 20px;
        .logo {
            padding-top: 9px;
        }
        .container {
            border-bottom: 1px solid $text_color;
            padding-bottom: 18px;
        }
    }
}