.all-articles {
    position: relative;
    padding-top: 76px;
    padding-bottom: 266px;
    overflow: hidden;
		// .all-articles__title

		&__title {
            @extend %articles-items-title;
            padding-left: 2px;
            margin-bottom: 34px;
		}

		// .all-articles__wrap

		&__wrap {
            @extend .news__wrap;
            flex-wrap: wrap;
		}

		// .all-articles__item

		&__item {
            @extend .news__card;
            width: 300px;
            margin-bottom: 25px;
		}

		// .all-articles__wrap-img

		&__wrap-img {
            @extend .news__wrap-img;
		}

		// .all-articles__wrap-content

		&__wrap-content {
            @extend .news__wrap-content;
		}

		// .all-articles__card-title

		&__card-title {
            @extend .news__card-title;
		}

		// .all-articles__text

		&__text {
            @extend .news__text;
        }
        
        // .all-articles__load-more

        &__load-more {
            @extend %article-items-load-more;
            display: block;
            margin-top: 10px;
            text-align: center;
            i {
                display: inline-block;
                margin-left: 19px;
                .icon-down-arrow {
                    width: 11px;
                    height: 7px;
                }
            }
        }
}
.container {
}
.row {
}
.col-md-10 {
}
.m-auto {
}
