body {
    font-size: 16px;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}
.header-inside {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    &.individual-trail {
        position: relative;
      padding-top: 127px;
      background-image: url(../img/head-trail.jpg);
      height: 405px;
      &:after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to top, #090a09 0%, rgba(0, 0, 0, 0) 100%);
          opacity: 0.4;
          pointer-events: none;
      }
    }
    &.about-page {
          background-image: url(../img/about-bg.jpg);
          height: 500px;
    }
    
    // @extend %df;
    // @extend %aic;
}
.white-nav { 
    .navigation {
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: $white;
        box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.25);
        z-index: 10;
        .menu {
            &__link {
                color: $black;
            }
        }
    }
}
%app-section-0 {
    background: linear-gradient( -21deg, rgb(255,211,0) 0%, rgb(255,198,0) 100%);
}
%app-section-1 {
    background: linear-gradient( -31deg, rgb(255,149,0) 0%, rgb(245,133,0) 100%);
}
%app-section-2 {
    background: linear-gradient( -31deg, rgb(44,194,227) 0%, rgb(0,153,203) 99%);
}
%app-section-3 {
    background: linear-gradient( -31deg, rgb(112,195,128) 0%, rgb(45,160,67) 100%);
}
%app-section-4 {
    background-image: linear-gradient( -31deg, rgb(196,111,180) 0%, rgb(172,57,150) 99%);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-color .5s ease .2;
    pointer-events: none;
    &.show {
        background-color: rgba($color: #000000, $alpha: .7);
        z-index: 99;
        pointer-events: all;
        &:hover {
            cursor: pointer;
        }
    }
}
.breadCrumbs {
    @extend %df;
    @extend %aic;
    @extend %bread-crumbs-current;
    a {
        @extend %bread-crumbs-prev;
        margin-right: 5px;
        &:not(:first-child) {
            margin-left: 5px;
        }
    }
    
}
.quick-links__img {
    z-index: -1;
}