// ================ Apercu-Light ================
@include font_face(Apercu-Light, Apercu-Light);

%apercu-light {
    font-family: 'Apercu-Light', sans-serif;
}
// ################ Apercu-Light ################

// ================ Apercu-Medium ==============
@include font_face(Apercu-Medium, Apercu-Medium);

%apercu-medium {
    font-family: 'Apercu-Medium', sans-serif;
}
// ################### Apercu-Medium ###################

// ================ Apercu-Bold ==================
@include font_face(Apercu-Bold, Apercu-Bold);

%apercu-bold {
    font-family: 'Apercu-Bold', sans-serif;
}
// ################### Apercu-Bold ################

// ================ Apercu-Regular ==================
@include font_face(Apercu-Regular, Apercu-Regular);

%apercu-regular {
    font-family: 'Apercu-Regular', sans-serif;
}
// ################### Apercu-Regular ################

// ====================== Font sizes =======================
%fz-12 {
    font-size: rem(12);
}
%fz-16 {
    font-size: rem(16);
}
%fz-20 {
    font-size: rem(20);
}
%fz-32 {
    font-size: rem(32);
}
%fz-24 {
    font-size: rem(24);
}
%fz-18 {
    font-size: rem(18);
}
%fz-13 {
    font-size: rem(13);
}
%fz-28 {
    font-size: rem(28);
}
%fz-40 {
    font-size: rem(40);
}
%fz-58 {
    font-size: rem(58);
}
%fz-72 {
    font-size: rem(72);
}
// ====================== Line Height =======================
%lh-32 {
    line-height: rem(32);
}
%lh-34 {
    line-height: rem(34);
}
%lh-24 {
    line-height: rem(24);
}
%lh-40 {
    line-height: rem(40);
}
%lh-13 {
    line-height: rem(13);
}
%ttu {
    text-transform: uppercase;
}
// ========================= Elements style ======================

// Menu
%menu-item {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-34;
}
// Search form
%input-search {
    @extend %apercu-light;
    @extend %fz-20;
    @extend %lh-34;
}
// Search Bar

%search-title {
    @extend %apercu-medium;
    @extend %fz-40;
    line-height: rem(54);
    color: $white;
    text-shadow: 0px 0px 44.59px rgba(0, 0, 0, 0.004);
    strong {
        @extend %apercu-bold;
    }
}
%search-tag-title {
    @extend %apercu-light;
    @extend %fz-18;
    @extend %lh-24;
    color: $white;
}
%search-tag-item {
    @extend %apercu-regular;
    @extend %fz-18;
    @extend %lh-24;
    color: $white;
}
%search-btn {
    @extend %apercu-bold;
    @extend %fz-20;
    @extend %lh-34;
}
// Pricing Block
%pricing-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
    color: $text_color;
}
%pricing-card-title {
    @extend %apercu-regular;
    @extend %fz-24;
    @extend %lh-24;
    color: $white;
}
%pricing-card-count-text {
    @extend %apercu-bold;
    @extend %fz-18;
    @extend %fz-24;
    color: $white;
}
%pricing-card-count-sub {
    @extend %apercu-bold;
    @extend %fz-16;
    @extend %lh-24;
    color: $white;
}
%pricing-card-about {
    @extend %apercu-bold;
    font-size: rem(20);
    @extend %lh-24;
    color: $text_color;
}
%pricing-card-item-check {
    @extend %apercu-regular;
    @extend %fz-16;
    @extend %lh-24;
    color: $text_color;
}
%pricing-card-btn {
    @extend %apercu-regular;
    @extend %fz-24;
    @extend %lh-24;
    color: $white;
}
// Btns search
%map-advanc-search {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-34;
}
// Popular section
%popular-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
}
%popular-link-explore {
    @extend %apercu-bold;
    @extend %fz-20;
    @extend %lh-24;
}
%popular-text {
    @extend %apercu-light;
    @extend %fz-20;
    @extend %lh-34;
}
// ==> Tags Sections 
%tag-sect-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
    color: $text_color;
}
%tag-sect-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
    color: $text_color;
    a {
        @extend %apercu-bold;
        color: $text_color;
    }
}
// Featured section
%featured-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
}
%featured-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
}
%featured-slider-text {
    @extend %apercu-light;
    @extend %fz-24;
    @extend %lh-34;
}

// App info
%appinfo-title {
    @extend %apercu-bold;
    @extend %fz-32;
    @extend %lh-34;
}
%appinfo-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
}

// App Featured
%appfeature-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
}
%appfeature-card-title {
    @extend %apercu-regular;
    @extend %fz-18;
    @extend %lh-34;
}
%appfeature-card-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
}
%appfeature-new-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-40;
}
%appfeature-new-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
}
// News 
%app-news-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
}
%app-news-card-title {
    @extend %apercu-medium;
    @extend %fz-20;
    @extend %lh-24;
}
%app-news-card-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
}
%news-see-all-link {
    @extend %apercu-bold;
    @extend %fz-20;
    @extend %lh-24;
    color: $orange;
}

// Browse Trails Near Popular Cities
%trails-near-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
}
%trails-near-item {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
}
// Footer
%footer-get-app {
    @extend %apercu-medium;
    @extend %fz-24;
    @extend %lh-34;
}
%footer-item-title {
    @extend %apercu-medium;
    @extend %fz-16;
    @extend %lh-24;
}
%footer-text {
    @extend %apercu-light;
    @extend %fz-13;
    @extend %lh-24;
}
// ++++++++++++++++++++++++++++ Individuat Trail Page ++++++++++++++++++++++

// ==> Heder
%header-title {
    @extend %apercu-medium;
    @extend %fz-40;
    @extend %fz-40;
    @extend %lh-34;
    color: $white;
}
%header-place {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
    color: $white;
}
%header-reviews-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
    color: $white;
}
%header-btn-view-map {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-34;
    color: $white;
}

// ==> Stats section 
%stats-title {
    @extend %apercu-medium;
    @extend %fz-28;
    @extend %lh-34;
    color: $title_color;
}
%stats-item-title {
    @extend %apercu-medium;
    @extend %fz-16;
    @extend %lh-24;
    color: $title_color;
}
%stats-item-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-34;
    color: $title_color;
}

// ==> Map btn in the map block
%map-block-btn {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-34;
    color: $white;
}

// ==> Climat block
%climat-title {
    @extend %apercu-medium;
    @extend %fz-28;
    @extend %lh-34;
    color: $title_color;
}
%climat-item-title {
    @extend %apercu-regular;
    @extend %fz-13;
    @extend %lh-24;
    color: $title_color;
}

// ==> Nearby Trails 
%nearby-title {
    @extend %apercu-medium;
    @extend %fz-28;
    @extend %lh-34;
    color: $title_color;
}
%nearby-item-title {
    @extend %apercu-medium;
    @extend %fz-16;
    @extend %lh-24;
    color: $title_color;
} 
%nearby-item-place {
    @extend %apercu-light;
    @extend %fz-13;
    @extend %lh-24;
    color: $text_color;
}

// ==> Badges section 
%badges-title {
    @extend %apercu-medium;
    @extend %fz-28;
    @extend %lh-34;
    color: $title_color;
}
%badges-more-btn {
    @extend %apercu-bold;
    @extend %fz-16;
    @extend %lh-24;
    color: $orange;
}
%badges-item-title {
    @extend %apercu-medium;
    @extend %fz-16;
    @extend %lh-24;
    color: $title_color;
}

// ==> Description
%description-title {
    @extend %apercu-medium;
    @extend %fz-28;
    @extend %lh-34;
    color: $title_color;
}
%description-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
    color: $text_color;
}

// ==> Reviews section 
%reviews-title {
    @extend %apercu-medium;
    @extend %fz-28;
    @extend %lh-34;
    color: $title_color;
}
%reviews-item-name {
    @extend %apercu-medium;
    @extend %fz-20;
    @extend %lh-34;
    color: $title_color;
}
%reviews-item-date {
    @extend %apercu-light;
    @extend %fz-13;
    @extend %lh-24;
    color: $text_color;
}
%reviews-item-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
    color: $text_color;
}
%reviews-btn-see-all {
    @extend %apercu-bold;
    @extend %fz-20;
    @extend %lh-24;
    color: $orange;
}
%reviews-btn-write-review {
    @extend %apercu-bold;
    @extend %fz-16;
    @extend %lh-34;
    color: $white;
}

// ==> About us page 

// About us text
%about-us-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
    color: $title_color;
}
%about-us-text {
    @extend %apercu-regular;
    @extend %fz-16;
    @extend %lh-32;
    color: $text_color;
}

// ==> Team section
%team-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
    color: $title_color;
}
%team-item-name {
    @extend %apercu-medium;
    @extend %fz-20;
    @extend %lh-24;
    color: $title_color;
}
%team-item-position {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
    color: $text_color;
}

// ==> Quote section
%quote-title {
    @extend %apercu-medium;
    @extend %fz-24;
    @extend %lh-40;
    color: $title_color;
}
%quote-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
    color: $text_color;
}
%quote-item-name {
    @extend %apercu-medium;
    @extend %fz-20;
    @extend %lh-34;
    color: $title_color;
}
%quote-item-place {
    @extend %apercu-light;
    @extend %fz-13;
    @extend %lh-24;
    color: $text_color;
}

// ==> Article search bar
%article-search-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
    color: $title_color;
}
%article-search-item-title-big {
    @extend %apercu-medium;
    @extend %fz-24;
    @extend %lh-32;
    color: $white;
}
%article-search-item-title-small {
    @extend %apercu-medium;
    @extend %fz-20;
    @extend %lh-24;
    color: $white;
}
%article-search-item-about {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
    color: $white;
}
// ==> Articles items

%articles-items-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
    color: $title_color;
}
%article-items-load-more {
    @extend %apercu-bold;
    @extend %fz-16;
    @extend %lh-24;
    color: $orange;
}

// ==> Press Page
%press-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
    color: $title_color;
}
%press-review-title {
    @extend %apercu-medium;
    @extend %fz-20;
    @extend %lh-34;
    color: $title_color;
}
%press-link {
    @extend %apercu-regular;
    @extend %fz-16;
    @extend %lh-24;
    color: $text_color;
    b {
        color: $orange;
    }
}
%press-link-all {
    @extend %apercu-regular;
    @extend %fz-20;
    @extend %lh-24;
    color: $orange;
    text-align: center;
}
%press-simple-text {
    @extend %apercu-regular;
    @extend %fz-16;
    @extend %lh-32;
    color: $text_color;
    a {
        color: $orange;
    }
}

// ==> App Page
%app-heder-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
    color: $title_color;
}
%app-header-text {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-24;
    color: $text_color;
}
%app-section-title {
    @extend %apercu-light;
    @extend %fz-32;
    @extend %lh-34;
    color: $white;
    strong {
        @extend %apercu-bold;
    }
}
%app-download-title {
    @extend %apercu-medium;
    @extend %fz-32;
    @extend %lh-34;
    color: $text_color;
}
// ==> Modal Window (Climats)
%modal-climat-main-title {
    @extend %apercu-bold;
    @extend %fz-24;
    @extend %lh-24;
    color: $white;
}
%modal-climat-option-title {
    @extend %modal-climat-main-title;
    color: $text_color;
}
%modal-climat-option-item-title {
    @extend %apercu-bold;
    @extend %fz-12;
    @extend %lh-13;
    color: $text_color;
}
%modal-climat-option-item-subtitle {
    @extend %modal-climat-option-item-title;
    @extend %apercu-regular;
}
// ==> bread-crumbs
%bread-crumbs-prev {
    @extend %apercu-bold;
    @extend %fz-16 ;
    @extend %lh-24;
    color: $orange;
}
%bread-crumbs-current {
    @extend %apercu-regular;
    @extend %fz-16 ;
    @extend %lh-24;
    color: $text_color;
}
// ==> Country page Popular
%popular-trails-card-title {
    @extend %apercu-medium;
    @extend %fz-18;
    @extend %lh-24;
    color: $title_color;
}
%popular-trails-place {
    @extend %apercu-light;
    @extend %fz-13;
    @extend %lh-13;
    color: $text_color;
}
%popular-trails-review {
    @extend %apercu-regular;
    @extend %fz-13;
    @extend %lh-13;
    color: $text_color;
}
%tags-trails {
    @extend %apercu-light;
    @extend %fz-16;
    @extend %lh-13;
    color: $text_color;
}
%tags-btn {
    @extend %apercu-regular;
    @extend %fz-16;
    @extend %lh-13;
    color: $orange;
}