.footer {
    padding-top: 94px;
    background-color: $footer_bg;
		// .footer__wrap-logo-app

		&__wrap-logo-app {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
            padding-bottom: 33px;
            border-bottom: 1px solid #404851;
		}

		// .footer__logo

		&__logo {
		}

		// .footer__logo-link

		&__logo-link {
		}

		// .footer__app

		&__app {
            @extend %df;
		}

		// .footer__main-title

		&__main-title {
            @extend %footer-get-app;
            color: $white;
            margin-right: 42px;
		}

		// .footer__wrap-btns

		&__wrap-btns {
            @extend %df;
		}

		// .footer__btn

		&__btn {
            display: block;
            width: 136px;
            height: 48px;
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            border-radius: 7px;
            // .footer__btns_ios

			&_ios {
                margin-right: 19px;
                background-image: url(../img/ios-dow-white.png);
			}

			// .footer__btns_google

			&_google {
                width: 143px;
                background-image: url(../img/google-dow-white.jpg);
			}
		}

		// .footer__btns

		&__btns {

			
		}

		// .footer__wrap-other

		&__wrap-other {
            padding: 40px 66px 48px 3px;
            @extend %df;
            @extend %jcsb;
		}

		// .footer__wrapper

		&__wrapper {

			// .footer__wrapper_about

			&_about {
			}

			// .footer__wrapper_contact

			&_contact {
                margin-right: 33px;
			}

			// .footer__wrapper_social

			&_social {
			}
		}

		// .footer__smal-title

		&__smal-title {
            @extend %footer-item-title;
            color: $white;
            margin-bottom: 8px;
		}

		// .footer__text

		&__text, a.footer__text {
            display: block;
            @extend %footer-text;
            color: $text_color;
            max-width: 280px;
		}

		// .footer__copy

		&__copy {
            margin-top: 27px;
		}

		// .footer__social

		&__social {
            @extend %df;
		}

		// .footer__social-item

		&__social-item {
            margin-right: 17px;
            &:last-child {
                margin-right: 0;
            }
		}

		// .footer__social-link

		&__social-link {
            display: block;
            .soft-white {
                width: 24px;
                height: 24px;
            }
		}
}
.container {
}
.row {
}
.col-md-10 {
}
.m-auto {
}
.icon {
}
.icon-facebook {
}

.icon-twitter {
}
.icon-instagram {
}
