.navigation {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 10;
    background-color: $white;
    .search-bar {
        margin-top: 0;
        &__wrap {
            height: 42px;
            margin: 0 0 0 62px;
            box-shadow: none;
            border: 1px solid #e9e9e9 inset;
            &:before {
                width: 14px;
                height: 14px;
                margin-top: -7px;
            }
        }
        &__input {
            padding-left: 59px;
            font-size: rem(16);
        }
        &__button {
            position: relative;
            z-index: 10;
            width: 128px;
            border-radius: 0 6px 6px 0;
            font-size: rem(16);
        }
    }
    &-inside {
        
        // .menu {
        //     padding-right: 26px;
        //     padding-top: 1px;
        //     &__item {
        //         margin-right: 42px;
        //     }
        // }
    }
}
.nav-about-page {
    .menu {
        &__link {
            color: $black;
        }
    }
}
.logo {

		// .logo__link

		&__link {
		}
}
.menu {
    @extend %df;
    @extend %aic;
    justify-content: flex-end;
        &__mob {
            display: none;
        }

		// .menu__item

		&__item {
            margin-right: 36px;
            &:last-child {
                margin-right: 0;
            }
		}

		// .menu__link

		&__link {
            @extend %menu-item;
            @extend %ttu;
            color: $black;
		}
}
