.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	&.white {
		color: $white;
	}
	&.soft-white {
		color: $text_color;
	}
	&.yelow {
		color: $yelow;
	}
	&.orange {
		color: $orange;
	}
	&.green {
		color: $pricing_btn_green;
	}
	&.orange-check {
		color: $pricing_btn_orange;
	}
	&.blue {
		color: $pricing_btn_blue;
	}
}

.icon-average {
	font-size:(230/10)*1rem;
	width:(457/230)*1em;
}
.icon-avg-precip {
	font-size:(303/10)*1rem;
	width:(220/303)*1em;
}
.icon-check {
	font-size:(250/10)*1rem;
	width:(250/250)*1em;
}
.icon-distance {
	font-size:(464/10)*1rem;
	width:(464/464)*1em;
}
.icon-down-arrow {
	font-size:(271/10)*1rem;
	width:(464/271)*1em;
}
.icon-elevation {
	font-size:(324/10)*1rem;
	width:(464/324)*1em;
}
.icon-elevation-loss {
	font-size:(323/10)*1rem;
	width:(464/323)*1em;
}
.icon-facebook {
	font-size:(113/10)*1rem;
	width:(113/113)*1em;
}
.icon-filter {
	font-size:(307/10)*1rem;
	width:(459/307)*1em;
}
.icon-instagram {
	font-size:(94/10)*1rem;
	width:(94/94)*1em;
}
.icon-length {
	font-size:(464/10)*1rem;
	width:(464/464)*1em;
}
.icon-like {
	font-size:(478/10)*1rem;
	width:(464/478)*1em;
}
.icon-map {
	font-size:(48/10)*1rem;
	width:(50/48)*1em;
}
.icon-max-mountains {
	font-size:(464/10)*1rem;
	width:(464/464)*1em;
}
.icon-pencil {
	font-size:(464/10)*1rem;
	width:(464/464)*1em;
}
.icon-pin {
	font-size:(214/10)*1rem;
	width:(150/214)*1em;
}
.icon-star {
	font-size:(200/10)*1rem;
	width:(210/200)*1em;
}
.icon-sun {
	font-size:(303/10)*1rem;
	width:(303/303)*1em;
}
.icon-twitter {
	font-size:(113/10)*1rem;
	width:(113/113)*1em;
}
.icon-winter {
	font-size:(303/10)*1rem;
	width:(303/303)*1em;
}
