@include bp(995px) {
    .articles-header__last-wrap {
        display: block;
    }
    .articles-header__item_first {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        height: 300px;
        margin-bottom: 29px;
    }
    .articles-header__item {
        display: block;
    }
}