@include bp(767px) {
    .articles-header {
        .search-bar {
            padding-right: 0;
        }
        &__title {
            padding-left: 10px;
        }
        &__last-wrap {
            padding: 0 10px;
        }
    }
}