@include bp(400px) {
    .articles-header__item_first {
        height: auto;
    }
    .articles-header__item_first .articles-header__content {
        padding-left: 15px;
        padding-bottom: 30px;
        padding-right: 15px;
        padding-top: 63px;
    }
    .articles-header__content {
        max-width: 300px;
    }
}