@include bp(1025px) {
    .articles-header__item {
        height: auto;
    }
    .articles-header__item_first {
        max-width: 508px;
        height: auto;
    }
    .articles-header__item_second,
    .articles-header__item_third {
        min-height: 150px;
        max-height: 150px;
    }
    .articles-header__item_first .articles-header__content {
        padding-top: 123px;
    }
    .articles-header__content {
        padding: 25px 0 0 15px;
        max-width: 252px;
    }
}