%header-btns {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %map-advanc-search;
    color: $white;
    height: 48px;
    border-radius: 24px;
    border: 1px solid $white;
    i {
        display: block;
        margin-right: 11px;
        .icon {
            &.white {
                color: $white;
            }
        }
    }
}
%btn-download {
    display: block;
    width: 180px;
    height: 55px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
    overflow: hidden;
    &_ios {
        background-image: url(../img/apple_store.png);
    }
    &_google {
        background-image: url(../img/google_play.png);
    }
}
%tag {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    padding: 5px 28px;
    @extend %search-tag-item;
    border-radius: 6px;
}