//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '../img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$yelow: #fecf17;
$orange: #f7922a;
$title_color: #212b37;
$text_color: #818181;
$green: #82c55b;
$footer_bg: #25292e;
$placeholder: #434343;

$pricing_btn_green: #70c380;
$pricing_btn_orange: #ff9400;
$pricing_btn_blue: #2cc2e3;

$tag_green: #70c380;
$tag_orange: #ff9400;

$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
//---------------------------------------------Gradients
