.modal {
    position: fixed;
    width: 970px;
    height: 470px;
    top: -300px;
    left: 50%;
    margin-left: -(970 / 2) + px;
    background-color: $white;
    transition: all .5s ease;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    &.open {
        top: 120px;
        opacity: 1;
        pointer-events: all;
    }
		// .modal__wrap

		&__wrap {
            @extend %df;
            @extend %jcsb;
            @extend %aic;
		}

		// .modal__wrap-top

		&__wrap-top {
            background-color: $orange;
            padding: 14px 94px;
		}

		// .modal__wrap-title

		&__wrap-title {
            display: none;
            &[data-show="true"] {
                @extend %df;
                @extend %aic;
            }
		}

		// .modal__title-icon

		&__title-icon {
            width: 41px;
            height: 41px;
            margin-right: 15px;
		}

		// .modal__title
        
		&__title {
            @extend %modal-climat-main-title;
        }
        
        // .modal__close
        
        &__close {
            width: 20px;
            height: 20px;
            position: relative;
            transition: all .5s ease;
            &:hover {
                transform: rotate(180deg);
                span {
                    top: 9px;
                }
            }
            span {
                position: absolute;
                background-color: $white;
                width: 20px;
                height: 2px;
                top: 8px;
                left: 0;
                &:first-child {
                    transform: rotate(45deg);
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }

		// .modal__content

		&__content {
            @extend %df;
            @extend %jcsb;
            padding: 45px 94px 0;
		}

		// .modal__options

		&__options {
		}

		// .modal__subtitle

		&__subtitle {
            @extend %modal-climat-option-title;
            margin-bottom: 42px;
		}

		// .modal__wrap-options

		&__wrap-options {
            @extend %df;
            flex-wrap: wrap;
            @extend %jcsb;
            max-width: 300px;
		}

		// .modal__option-item

		&__option-item {
            margin-bottom: 10px;
		}

		// .modal__option-btn

		&__option-btn {
            width: 141px;
            height: 39px;
            background-color: #ebebeb;
            @extend %df;
            padding-left: 11px;
            border-radius: 4px;
            transition: all .5s ease;
            &:hover {
                background-color: #fecf17;
            }
            &.active {
                background-color: #fecf17;
            }
		}

		// .modal__option-icon

		&__option-icon {
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-color: $text_color;
		}

		// .modal__option-text

		&__option-text {
            @extend %modal-climat-option-item-title;
		}
        
        // .modal__option-text-small

		&__option-text-small {
            display: block;
            text-align: left;
            margin-top: 3px;
            @extend %modal-climat-option-item-subtitle;
		}

		// .modal__charts

		&__charts {
            width: 453px;
            background-color: $text_color;
		}
}
.mod-clim {
}
.mod-title {
}
.m-btn {
}
.m-ch {
}
