.container {
}
.row {
}
.col-md-10 {
}
.about-trail {
	position: relative;
	z-index: 2;
    @extend %df;
    // @extend %aic;
    @extend %jcsb;
		// .about-trail__wrap-left

		&__wrap-left {
		}

		&__tag {
			display: inline-block;
			border-radius: 4px;
			@extend %apercu-regular;
			font-size: rem(16);
			line-height: rem(19);
			letter-spacing: rem(0.7);
			color: $white;
			background-color: $orange;
			padding: 5px 16px;
			margin-bottom: 13px;
			margin-left: 190px;
			box-shadow: 0 3px 9px rgba(65, 65, 65, 0.16);
		}

		// .about-trail__title

		&__title {
			@extend %header-title;
			
			&_trail-page {
				font-size: rem(34);
				line-height: 3.5rem;
				padding: 5px 52px 7px 190px;
				color: $text_color;
				background-color: #eeeeee;
			}
		}

		// .about-trail__place

		&__place {
			padding: 5px 38px 5px 196px;
			background-color: $green;
			display: inline-block;
            @extend %header-place;
            margin-bottom: 17px;
		}

		// .about-trail__icon

		&__icon-pin {
            display: inline-block;
            margin-right: 12px;
            .icon-pin {
                width: 12px;
                height: 16px;
            }
		}

		// .about-trail__text

		&__place-text {
		}

		// .about-trail__wrap-stars

		&__wrap-stars {
			@extend %df;
			padding-left: 192px;
            // margin-left: ;
		}

		// .about-trail__icon-stars

		&__icon-stars {
            margin-right: 12px;
            .icon-star {
                width: 23px;
                height: 21px;
            }
		}

		// .about-trail__stars-text

		&__stars-text {
            @extend %header-reviews-text;
            margin-top: 2px;
		}
        
        // .about-trail__wrap-right

		&__wrap-right {
		}

		// .about-trail__view-map

		&__btn-view-map {
            @extend %header-btns;
            padding: 0 38px;
            .icon-map {
                width: 15px;
                height: 15px;
            }
		}

		// .about-trail__map-icon

		&__map-icon {
		}
}
.country-page {
	.about-trail {
		@extend %aic;
		&__title {
			margin-bottom: 0;
		}
	}
}
.icon {
}
.icon-pin {
}
.white {
}
.icon-star {
}
.yelow {
}
.ml-auto {
}
.icon-map {
}
.about-trail__title_trail-page {
	
}
@include bp(1400px, min) {
	.about-trail__tag {
		margin-left: 237px;
	}
	.about-trail__title_trail-page {
		padding-left: 236px;
	}
	.about-trail__place {
		padding-left: 243px;
	}
	.about-trail__wrap-stars {
		padding-left: 238px;
	}
}
@include bp(1500px, min) {
	.about-trail__tag {
		margin-left: 281px;
	}
	.about-trail__title_trail-page {
		padding-left: 282px;
	}
	.about-trail__place {
		padding-left: 286px;
	}
	.about-trail__wrap-stars {
		padding-left: 282px;
	}
}
@include bp(1600px, min) {
	.about-trail__tag {
		margin-left: 339px;
	}
	.about-trail__title_trail-page {
		padding-left: 338px;
	}
	.about-trail__place {
		padding-left: 342px;
	}
	.about-trail__wrap-stars {
		padding-left: 338px;
	}
}
@include bp(1700px, min) {
	.about-trail__tag {
		margin-left: 387px;
	}
	.about-trail__title_trail-page {
		padding-left: 388px;
	}
	.about-trail__place {
		padding-left: 393px;
	}
	.about-trail__wrap-stars {
		padding-left: 388px;
	}
}
@include bp(1800px, min) {
	.about-trail__tag {
		margin-left: 437px;
	}
	.about-trail__title_trail-page {
		padding-left: 438px;
	}
	.about-trail__place {
		padding-left: 442px;
	}
	.about-trail__wrap-stars {
		padding-left: 438px;
	}
}
@include bp(1900px, min) {
	.about-trail__tag {
		margin-left: 488px;
	}
	.about-trail__title_trail-page {
		padding-left: 488px;
	}
	.about-trail__place {
		padding-left: 492px;
	}
	.about-trail__wrap-stars {
		padding-left: 488px;
	}
}