.trail-dop-info {
      &_img {
            position: relative;
            // overflow: hidden;
            padding-bottom: 490px;
      }
}
.trail-info {
        .col-md-10 {
            padding-right: 0;
        }
        // trail-info__wrapper
        &__wrapper {
            @extend %df;
            @extend %jcsb;
            padding-top: 80px;
            padding-left: 3px;
            &_tr-page {
                  padding-top: 0;
            }
            .swiper-container {
                
                overflow: hidden;
            }
        }

		// .trail-info__wrap

		&__wrap {

			// .trail-info__wrap_left

			&_left {
                max-width: 672px;
                margin-right: 15px;
			}

			// .trail-info__wrap_right

			&_right {
            //     margin-left: 15px;
			}
		}

		// .trail-info__slider

		&__slider {
            width: 100%;
            position: relative;
		}

		// .trail-info__slider-item

		&__slider-item {
            max-width: 672px;
            width: 100%;
            overflow: hidden;
		}

		// .trail-info__wrap-img

		&__wrap-img {
            width: inherit;
		}

		// .trail-info__wrap-btn

		&__wrap-btn {
            @extend %df;
            @extend %jcsb;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            z-index: 10;
            padding: 0 23px;
            // $num: ;
            margin-top: -(64 / 2 - 1) + px;
		}

		// .trail-info__btn

		&__btn {
            box-shadow: 0 0 18px 7px rgba(105,128,131,.12);
            border-radius: 50%;
            width: 49px;
            height: 49px;
            svg {
                width: inherit;
                height: inherit;
            }
			// .trail-info__btn_prev

			&_prev {
			}

			// .trail-info__btn_next

			&_next {
			}
		}

		// .trail-info__stats

		&__stats {
            padding-top: 50px;
            padding-bottom: 31px;
            border-bottom: 1px solid rgba($color: $text_color, $alpha: 0.3);
		}

		// .trail-info__stats-title

		&__stats-title {
            @extend %stats-title;
            margin-bottom: 22px;
            
		}

		// .trail-info__stats-wrap

		&__stats-wrap {
            width: 100%;
            display: grid;
            grid-template-columns: .85fr 1fr .85fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 13px;
            // @extend %dg;
            // @extend %df;
		}

        // .trail-info__stats-item
        
        &__stats-item {
            @extend %df;
            // @extend %jcsb;
            &_elevation {
                margin-left: 40px;
            }
            &_max-mountains {
                margin-left: 40px;
            }
        }

		// .trail-info__stats-icon

		&__stats-icon {
            margin-right: 16px;
            .icon {
                &-length {
                    width: 19px;
                    height: 19px;
                }
                &-distance {
                    width: 22px;
                    height: 22px;
                }
                &-elevation {
                    width: 21px;
                    height: 14px;
                }
                &-elevation-loss {
                    width: 19px;
                    height: 13px;
                }
                &-average {
                    width: 26px;
                    height: 13px;
                }
                &-max-mountains {
                    width: 22px;
                    height: 22px;
                }
            }
		}

		// .trail-info__stats-content

		&__stats-content {
            padding-top: 2px;
		}

		// .trail-info__stats-item-title

		&__stats-item-title {
            @extend %stats-item-title;
		}

		// .trail-info__stats-item-text

		&__stats-item-text {
            @extend %stats-item-text;
		}

		// .trail-info__view-map

		&__view-map {
            max-width: 268px;
            width: 100%;
            overflow: hidden;
		}

		// .trail-info__map-img

		&__map-img {
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
		}

		// .trail-info__btn-map

		&__btn-map {
            @extend %map-block-btn;
            width: 100%;
            @extend %df;
            @extend %aic;
            @extend %jcc;
            background-color: $green;
            border-radius: 24px;
            height: 46px;
            margin-top: 21px;
		}

		// .trail-info__ico-map

		&__ico-map {
            display: inline-block;
            margin-right: 10px;
            .icon-map {
                width: 15px;
                height: 15px;
            }
		}

		// .trail-info__btn-text

		&__btn-text {
		}

		// .trail-info__climat

		&__climat {
            width: 260px;
            padding-top: 55px;
		}

		// .trail-info__climat-title

		&__climat-title {
            @extend %climat-title;
            margin-bottom: 16px;
		}

		// .trail-info__climat-wrap

		&__climat-wrap {
            @extend %df;
            @extend %jcsb;
		}

		// .trail-info__climat-item

		&__climat-item {
            // @extend %df;
            // flex-direction: column;
            // @extend %jcc;
            // @extend %aic;
             button {
                   @extend %df;
                  flex-direction: column;
                  @extend %jcc;
                  @extend %aic;
             }
		}

		// .trail-info__climat-icon

		&__climat-icon {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 18px 7px rgba(105,128,131,.12);
		}

		// .trail-info__climat-text

		&__climat-text {
                  @extend %climat-item-title;
            }

            // .trail-info__nearly

		&__nearly {
                  margin-top: -212px;
                  padding-left: 21px;
		}

		// .trail-info__nearly-title

		&__nearly-title {
                  @extend %nearby-title;
                  margin-bottom: 26px;
		}

		// .trail-info__nearly-wrap

		&__nearly-wrap {
		}

		// .trail-info__nearly-item

		&__nearly-item {
                  margin-bottom: 24px;
		}

		// .trail-info__nearly-link

		&__nearly-link {
                  @extend %df;
		}

		// .trail-info__nearly-wrap-img

		&__nearly-wrap-img {
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                  overflow: hidden;
		}

		// .trail-info__nearly-content

		&__nearly-content {
                  padding-left: 15px;
		}

		// .trail-info__nearly-item-title

		&__nearly-item-title {
                  @extend %nearby-item-title;
		}

		// .trail-info__nearly-item-plavce

		&__nearly-item-place {
                  @extend %nearby-item-place;
                  margin-bottom: 11px;
		}

		// .trail-info__nearly-item-icon

		&__nearly-item-icon {
                  display: inline-block;
                  margin-right: 4px;
                  .icon {
                        width: 11px;
                        height: 16px;
                  }
		}

		// .trail-info__nearly-item-text

		&__nearly-item-text {
            }
            
            // .trail-info__nearly-item-stars

		&__nearly-item-stars {
                  @extend %df;
                  @extend %aic;
		}

		// .trail-info__nearly-star-item

		&__nearly-star-item {
                  margin-right: 4px;
                  .icon-star {
                        width: 17px;
                        height: 16px;
                  }
		}

            // .trail-info__badges

		&__badges {
                  padding-top: 39px;
                  padding-left: 2px;
                  padding-right: 7px;
                  padding-bottom: 38px;
                  border-bottom: 1px solid rgba($color: $text_color, $alpha: 0.3);
		}

		// .trail-info__title-wrap

		&__title-wrap {
                  @extend %df;
                  @extend %aic;
                  @extend %jcsb;
                  margin-bottom: 24px;
		}

		// .trail-info__badges-title

		&__badges-title {
                  @extend %badges-title;
		}

		// .trail-info__more-btn

		&__more-btn {
                  @extend %badges-more-btn;
		}

		// .trail-info__badges-wrap

		&__badges-wrap {
                  @extend %df;
                  flex-wrap: wrap;
                  @extend %jcsb;
                  grid-column-gap: 27px;
		}

		// .trail-info__badget-item

		&__badget-item {
                  @extend %df;
                  @extend %aic;
                  padding: 10px 24px;
                  border-radius: 6px;
                  background-color: $white;
                  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.15);
		}

		// .trail-info__badget-icon

		&__badget-icon {
                  margin-right: 12px;
                  &_budget {
                        width: 32px;
                        height: 32px;
                  }
                  &_tent {
                        width: 37px;
                        height: 32px;
                  }
                  &_foodie {
                        width: 34px;
                        height: 28px;
                  }
		}

		// .trail-info__badget-content

		&__badget-content {
		}

		// .trail-info__badget-text

		&__badget-text {
                  @extend %badges-item-title;
            }

		// .trail-info__desc

		&__desc {
                  padding-left: 2px;
                  padding-top: 30px;
                  padding-bottom: 36px;
                  border-bottom: 1px solid rgba($color: $text_color, $alpha: 0.3);
		}

		// .trail-info__desc-title

		&__desc-title {
                  @extend %description-title;
                  margin-bottom: 22px;
		}

		// .trail-info__desc-content

		&__desc-content {
                  p {
                        @extend %description-text;
                        margin-bottom: 27px;
                        a {
                              @extend %apercu-bold;
                              color: $orange;
                        }
                        &:last-child {
                              margin-bottom: 0;
                        }
                  }
		}

		// .trail-info__dect-text

		&__dect-text {
                  @extend %description-text;
                  margin-bottom: 27px;
                  &:last-child {
                        margin-bottom: 0;
                  }
		}
}
.trail-country {
      &__desc {
            &-title {
                  @extend %description-title;
                  margin-bottom: 24px;
                  margin-top: 32px;
            }
            &-text {
                  @extend %description-text;
                  margin-bottom: 15px;
                  &:last-child {
                        margin-bottom: 0;
                  }
            }
      }
      .trail-info {
            &__stats {
                  border-bottom: none;
            }
      }
      &__stats {
            .trail-info {
                  &__stats {
                        border-bottom: none;
                  }     
                  &__stats-item_elevation {
                        margin-left: 0;
                  }
                  &__stats-icon {
                        .icon {
                              &-length {
                                    width: 19px;
                                    height: 19px;
                              }
                              &-distance {
                                    width: 22px;
                                    height: 22px;
                              }
                              &-elevation {
                                    width: 21px;
                                    height: 14px;
                              }
                              &-winter {
                                    width: 21px;
                                    height: 21px;
                              }
                              &-sun {
                                    width: 21px;
                                    height: 21px;
                              }
                              &-avg-precip {
                                    width: 15px;
                                    height: 21px;
                              }
                        }
                  }
            }
      }
      // .trail-country__popular

      &-popular {
            .trail-info__wrap_left {
                  margin-right: 0;
                  max-width: 100%;
            }
            .trail-info__slider-item {
                  max-width: 100.1%;
            }
      }
      &__popular {
            &-title {
                  @extend %app-news-title;
                  margin-bottom: 32px;
                  margin-top: -121px;
            }
            // .trail-country__popular-trails
            &-trails {
                  @extend %df;
                  flex-wrap: wrap;
                  @extend %jcsb;
            }

            // .trail-country__popular-card
            &-card {
                  width: 210px;
                  // height: 200px;
                  overflow: hidden;
                  margin-bottom: 24px;
            }

            // .trail-country__popular-img
            &-img {
                  width: 100%;
                  overflow: hidden;
            }

            // .trail-country__popular-content
            &-content {
            }

            // .trail-country__popular-item-title
            &-item-title {
                  @extend %popular-trails-card-title;
            }

            // .trail-country__popular-place
            &-place {
                  margin-top: 8px;
                  margin-bottom: 12px;
                  @extend %df;
                  @extend %aic;
                  i {
                        display: block;
                        width: 10px;
                        height: 18px;
                        margin-right: 8px;
                        .icon {
                              width: inherit;
                              height: inherit;
                        }
                  }
                  span {
                        @extend %popular-trails-place;
                  }
            }

            // .trail-country__popular-stars
            &-stars {
                  @extend %df;
                  @extend %aic;
            }

            // .trail-country__popular-stars-wrap
            &-stars-wrap {
                  @extend %df;
                  margin-right: 10px;
            }

            // .trail-country__popular-stars-item
            &-stars-item {
                  margin-right: 5px;
                  .icon-star {
                        width: 13px;
                        height: 11px;
                  }
            }

            // .trail-country__popular-stars-text
            &-stars-text {
                  @extend %popular-trails-review;
            }
            &-more {
                  @extend .news__wrap-all;
                  margin-top: 0;
                  margin-bottom: 50px;
            }
            &-more-btn {
                  @extend .news__see-all;
                  i {
                        @extend .news__see-icon;
                        .icon {
                              transform: rotate(0);
                        }
                  }
            }
      }
      // .trail-country__tags

      &__tags {
            padding-left: 18px;
            padding-top: 34px;
            // .trail-country__tags-title

		&-title {
                  @extend .trail-info__nearly-title;
		}

		// .trail-country__tags-wrap

		&-wrap {
                  @extend %df;
                  flex-wrap: wrap;
		}

		// .trail-country__tags-item

		&-item {
                  margin-left: 5px;
                  margin-bottom: 5px;
		}

		// .trail-country__tags-link

		&-link {
                  @extend %df;
                  @extend %aic;
                  @extend %jcc;
                  @extend %tags-trails;
                  padding: 7px 10px;
                  border-radius: 4px;
                  border: 1px solid $text_color;
                  &:hover {
                        border-color: $black;
                        color: $black;
                  }
            }
            // .trail-country__tags-more

		&-more {
                  margin-top: 15px;
                  margin-left: 5px;
		}

		// .trail-country__tags-more-btn

		&-more-btn {
                  @extend %df;
                  @extend %tags-btn;
                  i {
                        @extend .news__see-icon;
                        .icon {
                              transform: rotate(0);
                        }
                  }
		}
      }
      
		
}
.type-page-tags {
      &.trail-country__popular-title {
            margin-top: -331px;
      }
}
.trail-about-sect {
      position: relative;
      &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            display: block;
            width: 100%;
            height: 72px;
            background-color: #ffd300;
            z-index: -1;
      }
}
.trail-about {
      @extend %df;
      @extend %jcsb;

      // .trail-about__adv

      &__adv {
            padding-top: 15px;
            padding-left: 3px;
      }
      
      // .trail-about__adv-wrap
      
      &__adv-wrap {
            @extend %df;
            padding-left: 5px;    
            margin-bottom: 55px;
      }

      // .trail-about__adv-item

      &__adv-item {
            margin-right: 39px;
            &:last-child {
                  margin-right: 0;
            }
      }

      // .trail-about__adv-link

      &__adv-link {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            padding: 5px 23px 5px 18px;
            background-color: $white;
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
            border-radius: 6px;
            @extend %apercu-medium;
            @extend %fz-16;
            @extend %lh-34;
            color: $text_color;
      }

      // .trail-about__adv-icon

      &__adv-icon {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            margin-right: 12px;
      }

      // .trail-about__text

      &__text {
      }

      // .trail-about__adv-arrow

      &__adv-arrow {
            @extend %aic;
            @extend %jcc;
            display: none;    
            .icon {
                  width: 16px;
                  height: 30px;
                  transform: rotate(-90deg);
            }
      }

      // .trail-about__map

      &__map {
            position: relative;
            z-index: 10;
            margin-top: -250px;
            
      }

      // .trail-about__map-icons

      &__map-icons {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
            margin-bottom: 9px;
            padding: 0 27px 0 13px;
      }

      // .trail-about__ico-item

      &__ico-item {
      }

      // .trail-about__map-ico-link

      &__map-ico-link {
            @extend %apercu-medium;
            font-size: rem(14);
            @extend %lh-34;
            color: $white;
            @extend %df;
            flex-direction: column;
            @extend %aic;
      }

      // .trail-about__map-ico

      &__map-ico {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            width: 48px;
            height: 48px;
            background-color: $white;
            box-shadow: 0 3px 9px rgba(65, 65, 65, 0.29);
            border-radius: 50%;
            img {
                  width: 21px;
                  height: 21px;
            }
      }

      // .trail-about__map-ico-text

      &__map-ico-text {
      }

      // .trail-about__map-wrap

      &__map-wrap {
            position: relative;
            
            &:after {
                  position: absolute;
                  top: 0;
                  left: 0;
                  content: '';
                  display: block;
                  border-radius: 8px 8px 0 0;
                  z-index: 1;
                  width: 100%;
                  height: 230px;
                  box-shadow: 0 0 13px rgba(0, 0, 0, 0.29);
            }
      }
      &__map-wrapper {
            position: relative;
            background-color: $white;
            border-radius: 8px;
            overflow: hidden;
            padding: 7px;
            z-index: 5;
            // box-shadow: 0 0 13px rgba(0, 0, 0, 0.29);
      }

      // .trail-about__map-img

      &__map-img {
            width: 254px;
            height: 280px;
            border-radius: 8px 8px 0 0;
            overflow: hidden;
            img {
                  height: auto;
            }
      }

      // .trail-about__map-link

      &__map-link {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
            @extend %apercu-regular;
            @extend %fz-16;
            @extend %lh-34;
            color: $text_color;
            width: 100%;
            height: 48px;
            border-radius: 0 0 8px 8px;
            background-color: #ffd300;
            padding: 0 24px;
            
            &:hover {
                  i {
                        margin-right: 0;
                  }
            }
      }

      // .trail-about__map-text

      &__map-text {
      }

      // .trail-about__mp-arrow

      &__mp-arrow {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            margin-right: 2px;
            transition: all .3s ease;
            .icon {
                  width: 16px;
                  height: 30px;
                  transform: rotate(-90deg);
            }
      }
}
.icon {
}
.icon-down-arrow {
}
.soft-white {
}
.breadCrumbs {
}
.trail-new-info {
      .trail-info__desc {
            margin-top: -18px;
            padding-bottom: 43px;
      }
      .trail-info__stats {
            padding-top: 42px;
            padding-bottom: 28px;
      }
      .trail-info__desc {
            padding-top: 0;   
      }
      .trail-info__climat {
            padding-top: 33px;   
      }
}
.trail-dop-info_img {
      .trail-info__title-wrap {
            margin-bottom: 14px;
      }
      .trail-info__badges {
            padding-bottom: 28px;
      }
      .reviews {
            padding-top: 49px;
      }     
      .reviews__icon-like {
            padding-right: 0;
      }
      .reviews__wrap {
            padding-left: 3px;
      }
      .reviews__user-date {
            margin-top: -3px;
            margin-bottom: 27px;
      }
      .reviews__item_commented {
            padding-bottom: 73px;
      }
}