.reviews {
    padding-top: 30px;
    padding-left: 2px;
		// .reviews__title

		&__title {
            @extend %reviews-title;
            span {
                display: inline-block;
                margin-left: 10px;
            }
		}

		// .reviews__wrap

		&__wrap {
            padding-top: 40px;
		}

		// .reviews__item

		&__item {
            @extend %df;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #d7d7d7;
            &_commented {
                padding-bottom: 77px;
                margin-bottom: 0;
                border: none;
            }
            &_comment {
                padding-bottom: 26px;
            }
		}

		// .reviews__user-avatar
        
		&__user-avatar {
        }
        
        // .reviews__avatar-wrap

        &__avatar-wrap {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
        }

		// .reviews__content

		&__content {
            width: 100%;
            padding-top: 1px;
            padding-left: 23px;
		}

		// .reviews__user-about

		&__user-about {
            @extend %df;
            width: 100%;
            margin-bottom: 10px;
		}

		// .reviews__user

		&__user {
		}

		// .reviews__user-name

		&__user-name {
            @extend %reviews-item-name;
		}

		// .reviews__user-date

		&__user-date {
            @extend %reviews-item-date;
            margin-bottom: 25px;
		}

		// .reviews__stars

		&__stars {
            width: 100%;
            @extend %df;
            align-items: flex-start;
		}

		// .reviews__star-item

		&__star-item {
            margin-right: 4px;
            .icon-star {
                width: 23px;
                height: 21px;
            }
		}

		// .reviews__icon-like

		&__icon-like {
            padding-top: 3px;
            padding-right: 8px;
            margin-left: auto;
            .icon-like {
                width: 28px;
                height: 28px;
            }
		}

		// .reviews__text-content

		&__text-content {
            p {
                @extend %reviews-item-text;
                padding-right: 12px;
            }
		}

		// .reviews__text

		&__text {
            @extend %reviews-item-text;
            padding-right: 12px;
		}

		// .reviews__slider

		&__slider {
            margin-top: 37px;
            margin-bottom: 18px;
            position: relative;
            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 160px;
                height: 100%;
                top: 0;
                right: 0;
                z-index: 8;
                background-color: rgba(255,255,255,.7);
            }
            &:before {
                position: absolute;
                content: '';
                display: block;
                width: 80px;
                height: 100%;
                top: 0;
                right: -10px;
                z-index: 8;
                background-color: rgba(255,255,255,1);
                filter: blur(15px);
            }
		}

		// .reviews__slider-item

		&__slider-item {
            max-width: 198px;
		}

		// .reviews__wrap-img

		&__wrap-img {
            width: inherit;
            height: auto;
		}

		// .reviews__wrap-btn

		&__wrap-btn {
            @extend %df;
            @extend %jcsb;
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 10;
            padding-right: 8px;
            margin-top: -24px;
            
		}

		// .reviews__btn

		&__btn {
            box-shadow: 0 0 18px 7px rgba(105,128,131,.12);
            border-radius: 50%;
            width: 49px;
            height: 49px;
            svg {
                width: inherit;
                height: inherit;
            }
			// .reviews__btn_next

			&_next {
			}
        }

		// .reviews__wrapper

		&__wrapper {
            @extend %df;
            @extend %jcsb;
            padding-right: 9px;
		}

		// .reviews__load-more

		&__load-more {
            @extend %reviews-btn-see-all;
            @extend %df;
            @extend %aic;
		}

		// .reviews__load-text

		&__load-text {
		}

		// .reviews__load-icon

		&__load-icon {
            display: inline-block;
            margin-left: 14px;
            .icon {
                width: 11px;
                height: 7px;
            }
		}

		// .reviews__write-review

		&__write-review {
            @extend %reviews-btn-write-review;
            @extend %df;
            @extend %aic;
            @extend %jcc;
            background-color: $yelow;
            width: 271px;
            height: 56px;
            border-radius: 6px;
		}

		// .reviews__write-icon

		&__write-icon {
            display: inline-block;
            margin-right: 15px;
            .icon {
                width: 21px;
                height: 21px;
            }
		}

		// .reviews__write-text

		&__write-text {
		}
}