include mainBlock/_doctype
- const content = mainText.aboutUsPage;
- const imgPath = mainVar.path.img;
- const svgColorPath = `${imgPath}colors-svg/`;
body.nav-about-page
    include mainBlock/_navigation-inside
    header.header-inside.about-page
    section.about-text
        .container
            .row
                .col-md-10.m-auto
                    h2.about-text__title= content.title
                    .about-text__wrap
                        - for(let i = 0; i < content.text.length; i++)
                            p.about-text__text= content.text[i]
    - const team = content.team;
    section.team
        .container
            .row
                .col-md-10.m-auto
                    h2.team__title= team.title
                    ul.team__wrapper
                        - for(let i = 0; i < team.members.length; i++)
                            li.team__item
                                figure.team__member-avatar
                                    img(src=`${imgPath}team-${i}.jpg `, alt=`Avatar of ${team.members[i][0]}`)
                                .team__content
                                    h3.team__name= team.members[i][0]              
                                    p.team__text= team.members[i][1]              
    - const quote = content.quoteSect;
    section.about.about_about-page
        img(src=`${mainVar.path.img}quote-img.png`, alt='Some img')
        .container
            .row
                .col-md-10.col-lg-7.col-xl-10.ml-auto
                    .about__wrap
                        h2.about__title
                            span= quote.title.split('<br>')[0]
                            = quote.title.split('<br>')[1]
                        .about__wrap-text
                            p.about__text= quote.text
                        .about__member
                            h3.about__name= quote.member.name
                            p.about__place= quote.member.form
                            ul.about__stars
                                - for(let i = 0; i < quote.member.stars; i++)
                                    li.about__star-item
                                        +icon('star', 'yelow')
    section.news.news_about
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.news__title= mainText.newsTitle.titleAboutUs
                    .news__wrap
                        - for(let i = 1; i <= 3; i++)
                            a(href="#").news__card
                                figure.news__wrap-img
                                    img(src=`${mainVar.path.img}news-${i}.jpg`, alt=`Some alt for image №${i}`)
                                .news__wrap-content
                                    h3.news__card-title= mainText.heroPage.news.items[`${i}`][0] 
                                    p.news__text= mainText.heroPage.news.items[`${i}`][1]
    include mainBlock/_footer
    include mainBlock/_scripts