include mainBlock/_doctype
- const content = mainText.allArticlesPage;
- const imgPath = mainVar.path.img;
- const imgArticles = `${imgPath}articles/`;
body.nav-about-page.nav-article-page
    include mainBlock/_navigation-inside
    header.articles-header
        .container
            .row
                .col-md-10.col-lg-6.offset-md-1
                    h1.articles-header__title= content.searchBlock.title
                    form.search-bar
                        .search-bar__wrap
                            input(type="text" placeholder=`${content.searchBlock.placeholder}` class="search-bar__input")
                            button.search-bar__button
                                span= mainText.heroPage.searchbar.searchBtn
                .col-md-10.m-auto
                    .articles-header__last-wrap
                        - for(let i = 0; i < content.searchBlock.items.length; i++)
                            a(href="#" class=(i == 0) ? `articles-header__item articles-header__item_first` : (i == 1) ? `articles-header__item articles-header__item_second` : (i == 2) ? `articles-header__item articles-header__item_third` : `articles-header__item`)
                                img(src=`${imgArticles}last-articles-${i}.jpg`, alt=`Article img №${i}` class=`articles-header__item-img`)
                                .articles-header__content
                                    h3.articles-header__item-title= content.searchBlock.items[i][0]
                                    p.articles-header__text
                                        span= 'By: ' + content.searchBlock.items[i][1]
                                        = '|'
                                        span= content.searchBlock.items[i][2]
    - const newsBlock = content.articlesBlock;
    section.all-articles
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.all-articles__title= newsBlock.title
                    .all-articles__wrap
                        - for(let i = 0; i < newsBlock.items.length; i++)
                            a(href="#").all-articles__item
                                - const imgNum = newsBlock.items[i][0].split('+')[1];
                                figure.all-articles__wrap-img
                                    img(src=`${imgArticles}all-articles-${imgNum}.jpg`, alt=`Some alt for image №${i}`)
                                .all-articles__wrap-content
                                    h3.all-articles__card-title= newsBlock.items[i][1] 
                                    p.all-articles__text= newsBlock.items[i][2]
                    a.all-articles__load-more
                        span= newsBlock.loadMore
                        i
                            +icon('down-arrow', 'orange')
    include mainBlock/_scripts
    include mainBlock/_footer