include mainBlock/_doctype
- const contentPress = mainText.press;
- const content = mainText.appPage;
- const imgPath = mainVar.path.img;
- const phones = `${imgPath}phones/`;

body.white-nav
    include mainBlock/_navigation
    - const header = content.header;
    header.header-inside.app-page-header
        .container
            .row
                .col-md-10.m-auto
                    .app-header
                        img(src=`${imgPath}logo-bg.png`, alt="Big logotype").app-header__bg-img
                        .app-header__wrap.app-header__wrap_left
                            figure.app-header__image
                                img(src=`${phones}phone-header.png`, alt="Screenshot aplication")
                        .app-header__wrap.app-header__wrap_right
                            h1.app-header__title= header.title
                            ul.app-header__wrapper
                                - for(let i = 0; i < header.items.length; i++)
                                    li.app-header__item
                                        .app-header__item-icon
                                            +icon((i == 0 ) ? `distance` : (i == 1) ? `elevation` : `filter`, 'soft-white')
                                        .app-header__item-text
                                            p.app-header__text= header.items[i]
                            .app-header__btns
                                a.app-header__link.app-header__link_ios
                                a.app-header__link.app-header__link_google
    - const advantage = content.sections;
    - for(let i = 0; i < advantage.titles.length; i++)
        section(class=`advantage-app advantage-app__sec_${i}`)
            .container
                .row
                    .col-md-10.m-auto
                        .advantage-app__wrapper
                            .advantage-app__wrap.advantage-app__wrap_left
                                .advantage-app__text-contet
                                    h2.advantage-app__title
                                        - if (i == 2 || i == 4) {
                                            strong= advantage.titles[i].split('|')[0]
                                            br
                                            = advantage.titles[i].split('|')[1]
                                        - } else {
                                            strong= advantage.titles[i].split('|')[0]
                                            = advantage.titles[i].split('|')[1]
                                        - }
                                    - if(i == 0)
                                        ul.advantage-app__icons
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/b-and-b.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/campground.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/hostel-icon.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/hotel-icon.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/shelter.svg`, alt="Icons")
                            .advantage-app__wrap.advantage-app__wrap_right
                                figure.advantage-app__img
                                    img(src=`${phones}phone-${i}.png`, alt=`Screenshot app №${i}`)
                
    - const review = contentPress.review;
    section.press-review
        .container
            .row
                .col-md-10.m-auto
                    .press-review__wrap
                        h2.press-review__title= review.title
                            ul.reviews__wrap
                                li.reviews__item
                                    .reviews__content
                                        .reviews__user-about
                                            .reviews__user
                                                .press-review__wrapper
                                                    h3.reviews__user-name=  `${review.text[2]} | ${review.text[3]}` 
                                                    p.reviews__user-date= 'June 28, 2019'
                                                - const stars = 5;
                                                ul.reviews__stars
                                                    - for(let i = 0; i < stars; i++)
                                                        li.reviews__star-item
                                                            +icon('star', 'yelow')
                                            .reviews__text-content
                                                    h3.press-review__comment-title= review.text[0]
                                                    p.reviews__text= review.text[1]
    section.dow-now
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    .dow-now__wrap
                        h2.dow-now__title Find us on
                        .dow-now__btns
                            a.dow-now__btn.dow-now__btn_ios
                            a.dow-now__btn.dow-now__btn_google

    include mainBlock/_footer
    include mainBlock/_scripts