include mainBlock/_doctype
body
    include mainBlock/_navigation
    header.header
        .container
            .row
                .col-md-10.col-lg-6.m-auto
                    form.search-bar
                        .search-bar__wrap
                            input(type="text" placeholder=`${mainText.heroPage.searchbar.placeholder}` class="search-bar__input")
                            button.search-bar__button
                                span= mainText.heroPage.searchbar.searchBtn
                    .search-bar__wrap-btns
                        a.search-bar__btns.search-bar__btns_map
                            i
                                +icon('map', 'white')
                            span= mainText.heroPage.searchbar.otherBtns[0]
                        a.search-bar__btns.search-bar__btns_adv-serch
                            i
                                +icon('filter', 'white')
                            span= mainText.heroPage.searchbar.otherBtns[1]
    section.popular-sect
        .container
            .row
                .col-md-10.m-auto
                    .popular__wrap
                        h2.popular__title= mainText.heroPage.popularTrails.title
                        a.popular__link= mainText.heroPage.popularTrails.exploreLink
                    .slider.popular__trails
                        .swiper-container.slider-trail
                            .swiper-wrapper
                                - for(let i = 1; i < 4; i++)
                                    .swiper-slide.popular__slider-item
                                        a(href="#").popular__slider-link
                                            .popular__wrap-img
                                                img(src=`${mainVar.path.img}trail-${i}.jpg`, alt=`Some alt of image №${i}`)
                                            h3.popular__slider-title= mainText.heroPage.popularTrails.slider[i]
                        .popular__wrap-btn
                            button.popular__btn.popular__btn_prev
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 0.5C288.8 0.5 345.9 24.1 388.9 67.2C431.9 110.3 455.6 167.3 455.6 228.1C455.6 288.9 432 346 388.9 389C345.9 431.9 288.8 455.7 228 455.7C167.2 455.7 110.1 431.9 67.1 388.9C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.1C110.1 24.1 167.2 0.5 228 0.5Z" fill="white")
                                    path(d="M170.5 228L265.9 323.4L285.5 303.9L209.6 228L285.5 152.1L265.9 132.6L170.5 228Z" fill="#828282")
                            button.popular__btn.popular__btn_next
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 455.5C167.2 455.5 110.1 431.9 67.1 388.8C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.0999C110.1 24.0999 167.2 0.399902 228 0.399902C288.8 0.399902 345.9 23.9999 388.9 67.0999C431.9 110.2 455.6 167.2 455.6 228C455.6 288.8 432 345.9 388.9 388.9C345.9 431.8 288.8 455.5 228 455.5Z" fill="white")
                                    path(d="M285.5 228L190.1 132.6L170.5 152.1L246.4 228L170.5 303.9L190.1 323.4L285.5 228Z" fill="#828282")
    section.featured-sect
        .container-fluid
            .row
                .col-md-4.col-lg-3.offset-lg-2.col-xl-2.offset-xl-4
                    .featured__wrap-text
                        h2.featured__title= mainText.heroPage.featureTrails.title
                        p.featured__text= mainText.heroPage.featureTrails.text
                        .featured__wrap-btn
                            button.featured__btn.featured__btn_prev
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 0.5C288.8 0.5 345.9 24.1 388.9 67.2C431.9 110.3 455.6 167.3 455.6 228.1C455.6 288.9 432 346 388.9 389C345.9 431.9 288.8 455.7 228 455.7C167.2 455.7 110.1 431.9 67.1 388.9C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.1C110.1 24.1 167.2 0.5 228 0.5Z" fill="white")
                                    path(d="M170.5 228L265.9 323.4L285.5 303.9L209.6 228L285.5 152.1L265.9 132.6L170.5 228Z" fill="#828282")
                            button.featured__btn.featured__btn_next
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 455.5C167.2 455.5 110.1 431.9 67.1 388.8C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.0999C110.1 24.0999 167.2 0.399902 228 0.399902C288.8 0.399902 345.9 23.9999 388.9 67.0999C431.9 110.2 455.6 167.2 455.6 228C455.6 288.8 432 345.9 388.9 388.9C345.9 431.8 288.8 455.5 228 455.5Z" fill="white")
                                    path(d="M285.5 228L190.1 132.6L170.5 152.1L246.4 228L170.5 303.9L190.1 323.4L285.5 228Z" fill="#828282")
                .col-md-8.col-lg-7.col-xl-6
                    .slider.featured__trails
                        .swiper-container.slider-featured
                            .swiper-wrapper
                                - for(let i = 0; i < mainText.heroPage.featureTrails.slider.length; i++)
                                    .swiper-slide.featured__slider-item
                                        a(href="#").featured__slider-link
                                            .featured__wrap-img
                                                img(src=`${mainVar.path.img}featured.jpg`, alt=`Some alt of image №${i}`)
                                            h3.featured__slider-title= mainText.heroPage.featureTrails.slider[i]
    section.app-info-sect
        .container
            .row
                .col-md-10.col-lg-5.ml-auto
                    .app-info__wrapper
                        h2.app-info__title= mainText.heroPage.appInfo.title
                        p.app-info__text= mainText.heroPage.appInfo.text
                        .app-info__wrap-btn
                            a.app-info__btn.app-info__btn_ios
                            a.app-info__btn.app-info__btn_google
    section.app-feature-sect
        .container
            .row
                .col-md-10.m-auto
                    h2.app-feature__title= mainText.heroPage.appFeature.title
                    .app-feature__wrapper
                        - for(let i = 0; i <= 2; i++)
                            div(class=`app-feature__card app-feature__card_${i}`)
                                span.app-feature__icon
                                    span
                                        = "icon"    
                                        br
                                        = 'here'
                                h3.app-feature__card-title= mainText.heroPage.appFeature.items[0] + ` ${i}`
                                p.app-feature__text= mainText.heroPage.appFeature.items[1]
    section.about
        img(src=`${mainVar.path.img}product-img.jpg`, alt='Some img')
        .container
            .row
                .col-md-10.col-lg-7.col-xl-10.ml-auto
                    .about__wrap
                        h2.about__title
                            = mainText.heroPage.appFeature.titleTwo.split(' <br>')[0]
                            br
                            = mainText.heroPage.appFeature.titleTwo.split('<br> ')[1]
                        .about__wrap-text
                            p.about__text= mainText.heroPage.appFeature.text
                            p.about__text= mainText.heroPage.appFeature.text
    section.news
        .container
            .row
                .col-md-10.m-auto
                    h2.news__title= mainText.heroPage.news.title
                    .news__wrap
                        - for(let i = 1; i <= 3; i++)
                            a(href="#").news__card
                                figure.news__wrap-img
                                    img(src=`${mainVar.path.img}news-${i}.jpg`, alt=`Some alt for image №${i}`)
                                .news__wrap-content
                                    h3.news__card-title= mainText.heroPage.news.items[`${i}`][0] 
                                    p.news__text= mainText.heroPage.news.items[`${i}`][1]
    section.quick-links
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.quick-links__title= mainText.heroPage.popularLinks.title
                .col-md-10.col-lg-8.m-auto
                    .quick-links__wrap
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < mainText.heroPage.popularLinks.links1.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= mainText.heroPage.popularLinks.links1[i]
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < mainText.heroPage.popularLinks.links2.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= mainText.heroPage.popularLinks.links2[i]
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < mainText.heroPage.popularLinks.links3.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= mainText.heroPage.popularLinks.links3[i]
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < mainText.heroPage.popularLinks.links4.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= mainText.heroPage.popularLinks.links4[i]
    include mainBlock/_footer
    include mainBlock/_scripts