include mainBlock/_doctype
- const content = mainText.heroPage;
- const contentApp = mainText.appPage;
- const imgPath = mainVar.path.img;
- const phones = `${imgPath}phones/`;
- const pricing = content.pricing;
- const plans = pricing.plans;
body.white-nav
    include mainBlock/_navigation
    - const header = content.searchbar;
    header.header.header_bg
        .container
            .row
                .col-md-10.col-lg-8.m-auto
                    form.search-bar
                        h1.search-bar__title
                            = header.title.split("|")[0]
                            br
                            = header.title.split("|")[1]
                            strong= header.title.split("|")[2]
                        .search-bar__wrap
                            input(type="text" placeholder=`${header.placeholder}` class="search-bar__input")
                            button.search-bar__button
                                span= header.searchBtn
                    .search-bar__wrap-tags
                        h3.search-bar__tags-title= header.tags.title
                        ul.search-bar__tags
                            - for(let i = 0; i < header.tags.items.length; i++)
                                li.search-bar__tags-item
                                    a.search-bar__tag-link
                                        span= header.tags.items[i]
    - const headerApp = contentApp.header;
    div.app-page-header.hero-page-app
        .container
            .row
                .col-md-10.m-auto
                    .app-header
                        img(src=`${imgPath}logo-bg.png`, alt="Big logotype").app-header__bg-img
                        .app-header__wrap.app-header__wrap_left
                            figure.app-header__image
                                img(src=`${phones}phone-header.png`, alt="Screenshot aplication")
                        .app-header__wrap.app-header__wrap_right
                            h1.app-header__title= headerApp.title
                            ul.app-header__wrapper
                                - for(let i = 0; i < headerApp.items.length; i++)
                                    li.app-header__item
                                        .app-header__item-icon
                                            +icon((i == 0 ) ? `distance` : (i == 1) ? `elevation` : `filter`, 'soft-white')
                                        .app-header__item-text
                                            p.app-header__text= headerApp.items[i]
                            .app-header__btns
                                a.app-header__link.app-header__link_ios
                                a.app-header__link.app-header__link_google
    - const advantage = contentApp.sections;
    - for(let i = 0; i < advantage.titles.length; i++)
        section(class=`advantage-app advantage-app__sec_${i}`)
            .container
                .row
                    .col-md-10.m-auto
                        .advantage-app__wrapper
                            .advantage-app__wrap.advantage-app__wrap_left
                                .advantage-app__text-contet
                                    h2.advantage-app__title
                                        - if (i == 2 || i == 4) {
                                            strong= advantage.titles[i].split('|')[0]
                                            br
                                            = advantage.titles[i].split('|')[1]
                                        - } else {
                                            strong= advantage.titles[i].split('|')[0]
                                            = advantage.titles[i].split('|')[1]
                                        - }
                                    - if(i == 0)
                                        ul.advantage-app__icons
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/b-and-b.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/campground.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/hostel-icon.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/hotel-icon.svg`, alt="Icons")
                                            li.advantage-app__icon-item
                                                img(src=`${imgPath}colors-svg/shelter.svg`, alt="Icons")
                            .advantage-app__wrap.advantage-app__wrap_right
                                figure.advantage-app__img
                                    img(src=`${phones}phone-${i}.png`, alt=`Screenshot app №${i}`)
    
    section.pricing-sect
        .container
            .row
                .col-12
                    .pricing
                        h2.pricing__title= pricing.title
                        .pricing__wrap
                            - for(let k in plans)
                                div(class=`pricing__card pricing__card_${k}`)
                                    - if(k == 'hiiker' && plans[k].bestValue != null)
                                        .pricing__best
                                            span= plans[k].bestValue
                                    div(class=`pricing__header pricing__header_${k}`)
                                        h3.pricing__header-title= plans[k].title
                                        p.pricing__cost
                                            span.pricing__cost-text= plans[k].price[0]
                                            - if(k == 'trail' || k == 'hiiker')
                                                span.pricing__cost-sub= plans[k].price[1]
                                    .pricing__about
                                        p.pricing__about-text= plans[k].about
                                        ul.pricing__wrapper
                                            - for(let i = 0; i < plans[k].items.length; i++)
                                                li.pricing__check-item
                                                    .pricing__check-icon
                                                        +icon('check', (k == 'basic') ? `green` : (k == 'trail') ? `orange-check` : `blue`)
                                                    p.pricing__check-text= plans[k].items[i]
                                        a(href="#" class=`pricing__btn pricing__btn_${k}`)
                                            span= plans[k].btn


    section.popular-sect
        .container
            .row
                .col-md-10.m-auto
                    .popular__wrap
                        h2.popular__title= content.popularTrails.title
                        a.popular__link= content.popularTrails.exploreLink
                    .slider.popular__trails
                        .swiper-container.slider-trail
                            .swiper-wrapper
                                - for(let i = 1; i < 4; i++)
                                    .swiper-slide.popular__slider-item
                                        a(href="#").popular__slider-link
                                            .popular__wrap-img
                                                img(src=`${imgPath}trail-${i}.jpg`, alt=`Some alt of image №${i}`)
                                            h3.popular__slider-title= content.popularTrails.slider[i]
                        .popular__wrap-btn
                            button.popular__btn.popular__btn_prev
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 0.5C288.8 0.5 345.9 24.1 388.9 67.2C431.9 110.3 455.6 167.3 455.6 228.1C455.6 288.9 432 346 388.9 389C345.9 431.9 288.8 455.7 228 455.7C167.2 455.7 110.1 431.9 67.1 388.9C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.1C110.1 24.1 167.2 0.5 228 0.5Z" fill="white")
                                    path(d="M170.5 228L265.9 323.4L285.5 303.9L209.6 228L285.5 152.1L265.9 132.6L170.5 228Z" fill="#828282")
                            button.popular__btn.popular__btn_next
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 455.5C167.2 455.5 110.1 431.9 67.1 388.8C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.0999C110.1 24.0999 167.2 0.399902 228 0.399902C288.8 0.399902 345.9 23.9999 388.9 67.0999C431.9 110.2 455.6 167.2 455.6 228C455.6 288.8 432 345.9 388.9 388.9C345.9 431.8 288.8 455.5 228 455.5Z" fill="white")
                                    path(d="M285.5 228L190.1 132.6L170.5 152.1L246.4 228L170.5 303.9L190.1 323.4L285.5 228Z" fill="#828282")
    - const country = content.countries;
    section.country-sect
        .container
            .row
                .col-md-10.m-auto
                    h2.country__title= country.title
                    ul.country__wrap
                        - for(let i = 0; i < country.tags.length; i++)
                            li.country__item
                                a(href="#").country__tag
                                    span= country.tags[i]
                    p.country__text
                        = country.info.split("<a>")[0]
                        a(href="#")= country.info.split("<a>")[1]
    - const trailType = content.trailTypes;
    section.trail-type-sect
        img.quick-links__img(src=`${imgPath}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.trail-type__title= trailType.title
                    ul.trail-type__wrap
                        - for(let i = 0; i < trailType.tags.length; i++)
                            li.trail-type__item
                                a(href="#").trail-type__link
                                    span= trailType.tags[i]
    //- section.featured-sect
        .container-fluid
            .row
                .col-md-4.col-lg-3.offset-lg-2.col-xl-2.offset-xl-4
                    .featured__wrap-text
                        h2.featured__title= content.featureTrails.title
                        p.featured__text= content.featureTrails.text
                        .featured__wrap-btn
                            button.featured__btn.featured__btn_prev
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 0.5C288.8 0.5 345.9 24.1 388.9 67.2C431.9 110.3 455.6 167.3 455.6 228.1C455.6 288.9 432 346 388.9 389C345.9 431.9 288.8 455.7 228 455.7C167.2 455.7 110.1 431.9 67.1 388.9C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.1C110.1 24.1 167.2 0.5 228 0.5Z" fill="white")
                                    path(d="M170.5 228L265.9 323.4L285.5 303.9L209.6 228L285.5 152.1L265.9 132.6L170.5 228Z" fill="#828282")
                            button.featured__btn.featured__btn_next
                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M228 455.5C167.2 455.5 110.1 431.9 67.1 388.8C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.0999C110.1 24.0999 167.2 0.399902 228 0.399902C288.8 0.399902 345.9 23.9999 388.9 67.0999C431.9 110.2 455.6 167.2 455.6 228C455.6 288.8 432 345.9 388.9 388.9C345.9 431.8 288.8 455.5 228 455.5Z" fill="white")
                                    path(d="M285.5 228L190.1 132.6L170.5 152.1L246.4 228L170.5 303.9L190.1 323.4L285.5 228Z" fill="#828282")
                .col-md-8.col-lg-7.col-xl-6
                    .slider.featured__trails
                        .swiper-container.slider-featured
                            .swiper-wrapper
                                - for(let i = 0; i < content.featureTrails.slider.length; i++)
                                    .swiper-slide.featured__slider-item
                                        a(href="#").featured__slider-link
                                            .featured__wrap-img
                                                img(src=`${imgPath}featured.jpg`, alt=`Some alt of image №${i}`)
                                            h3.featured__slider-title= content.featureTrails.slider[i]
    //- section.app-info-sect
        .container
            .row
                .col-md-10.col-lg-5.ml-auto
                    .app-info__wrapper
                        h2.app-info__title= content.appInfo.title
                        p.app-info__text= content.appInfo.text
                        .app-info__wrap-btn
                            a.app-info__btn.app-info__btn_ios
                            a.app-info__btn.app-info__btn_google
    //- section.app-feature-sect
        .container
            .row
                .col-md-10.m-auto
                    h2.app-feature__title= content.appFeature.title
                    .app-feature__wrapper
                        - for(let i = 0; i <= 2; i++)
                            div(class=`app-feature__card app-feature__card_${i}`)
                                span.app-feature__icon
                                    span
                                        = "icon"    
                                        br
                                        = 'here'
                                h3.app-feature__card-title= content.appFeature.items[0] + ` ${i}`
                                p.app-feature__text= content.appFeature.items[1]
    //- section.about
        img(src=`${imgPath}product-img.jpg`, alt='Some img')
        .container
            .row
                .col-md-10.col-lg-7.col-xl-10.ml-auto
                    .about__wrap
                        h2.about__title
                            = content.appFeature.titleTwo.split(' <br>')[0]
                            br
                            = content.appFeature.titleTwo.split('<br> ')[1]
                        .about__wrap-text
                            p.about__text= content.appFeature.text
                            p.about__text= content.appFeature.text
    //- section.news
        .container
            .row
                .col-md-10.m-auto
                    h2.news__title= content.news.title
                    .news__wrap
                        - for(let i = 1; i <= 3; i++)
                            a(href="#").news__card
                                figure.news__wrap-img
                                    img(src=`${imgPath}news-${i}.jpg`, alt=`Some alt for image №${i}`)
                                .news__wrap-content
                                    h3.news__card-title= content.news.items[`${i}`][0] 
                                    p.news__text= content.news.items[`${i}`][1]
    //- section.quick-links
        img.quick-links__img(src=`${imgPath}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.quick-links__title= content.popularLinks.title
                .col-md-10.col-lg-8.m-auto
                    .quick-links__wrap
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < content.popularLinks.links1.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= content.popularLinks.links1[i]
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < content.popularLinks.links2.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= content.popularLinks.links2[i]
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < content.popularLinks.links3.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= content.popularLinks.links3[i]
                        ul.quick-links__wrap-list
                            - for(let i = 0; i < content.popularLinks.links4.length; i++)
                                li.quick-links__item
                                    a.quick-links__link
                                        span= content.popularLinks.links4[i]
    include mainBlock/_footer
    include mainBlock/_scripts