include mainBlock/_doctype
- const content = mainText.individTrail;
- const imgPath = mainVar.path.img;
- const svgColorPath = `${imgPath}colors-svg/`;
body
    include mainBlock/_navigation-inside
    header.header-inside.individual-trail
        .about-trail
            .about-trail__wrap-left
                .about-trail__tag
                    span Moderate
                h1.about-trail__title.about-trail__title_trail-page= content.header.title
                .about-trail__place
                    i.about-trail__icon-pin
                        +icon('pin', 'white')
                    span.about-trail__place-text= content.header.place
                .about-trail__wrap-stars
                    .about-trail__icon-stars
                        - for(let i = 0; i < 5; i++)
                            +icon('star', `${(i == 4) ? 'white' : 'yelow'}`)
                    .about-trail__stars-text= `(${content.header.reviews})`

    section.trail-about-sect
        .container
            .row
                .col-md-10.m-auto
                    .trail-about
                        .trail-about__adv
                            ul.trail-about__adv-wrap
                                li.trail-about__adv-item
                                    a(href="#").trail-about__adv-link
                                        i.trail-about__adv-icon
                                            img(src=`${imgPath}ico-distance.png`, alt="")
                                        span.trail-about__text Trail Stages
                                        i.trail-about__adv-arrow
                                            +icon('down-arrow', 'soft-white')
                                li.trail-about__adv-item
                                    a(href="#").trail-about__adv-link
                                        i.trail-about__adv-icon
                                            img(src=`${imgPath}ico-hotel.png`, alt="")
                                        span.trail-about__text Accommodation
                                        i.trail-about__adv-arrow
                                            +icon('down-arrow', 'soft-white')
                                li.trail-about__adv-item
                                    a(href="#").trail-about__adv-link
                                        i.trail-about__adv-icon
                                            img(src=`${imgPath}ico-dining.png`, alt="")
                                        span.trail-about__text Amenities
                                        i.trail-about__adv-arrow
                                            +icon('down-arrow', 'soft-white')
                            ul.breadCrumbs
                                a(href="#")= "Home "
                                =' » ' 
                                a(href="#")= " Scotland "
                                =' » '
                                = " West highland Way"
                        .trail-about__map
                            ul.trail-about__map-icons
                                li.trail-about__ico-item
                                    a(href="#").trail-about__map-ico-link
                                        i.trail-about__map-ico
                                            img(src=`${imgPath}ico-images.png`, alt="")
                                        span.trail-about__map-ico-text Photos (34)
                                li.trail-about__ico-item
                                    a(href="#").trail-about__map-ico-link
                                        i.trail-about__map-ico
                                            img(src=`${imgPath}ico-share.png`, alt="")
                                        span.trail-about__map-ico-text Share
                                li.trail-about__ico-item
                                    a(href="#").trail-about__map-ico-link
                                        i.trail-about__map-ico
                                            img(src=`${imgPath}ico-favorite.png`, alt="")
                                        span.trail-about__map-ico-text Favourite
                            .trail-about__map-wrap
                                .trail-about__map-wrapper
                                    figure.trail-about__map-img
                                        img(src=`${imgPath}map-img.jpg`, alt="" data-mob-src=`http://localhost:3000/${imgPath}mob-map.png`)
                                    a(href="#").trail-about__map-link
                                        span.trail-about__map-text View Trail Map
                                        i.trail-about__mp-arrow
                                            +icon('down-arrow', 'soft-white')



    section.trail-info.trail-new-info
        .container
            .row
                .col-11.col-md-10.m-auto
                    .trail-info__wrapper.trail-info__wrapper_tr-page
                        .trail-info__wrap.trail-info__wrap_left
                            .trail-info__desc
                                h2.trail-info__desc-title About the trail
                                .trail-info__desc-content
                                        p.trail-info__dect-text
                                            =content.description.text[0]
                                            a(href="#") Read more...
                            .trail-info__stats
                                h2.trail-info__stats-title= content.stats.title
                                ul.trail-info__stats-wrap
                                    - var statsObj = content.stats.items;
                                    - for(let key in statsObj)
                                        li(class=`trail-info__stats-item trail-info__stats-item_${key}`)
                                            .trail-info__stats-icon
                                                +icon(`${key}`, 'soft-white')
                                            .trail-info__stats-content
                                                h3.trail-info__stats-item-title= statsObj[key].split('<br>')[0]
                                                p.trail-info__stats-item-text= statsObj[key].split('<br>')[1]
                                            
                        .trail-info__wrap.trail-info__wrap_right
                            .trail-info__climat
                                h2.trail-info__climat-title= content.climateInfo.title
                                ul.trail-info__climat-wrap
                                    - let climatItem = content.climateInfo.items;
                                    - for(let i = 0; i < climatItem.length; i++)
                                        - let climatIcon = climatItem[i].toLowerCase();
                                        li.trail-info__climat-item
                                            button(data-climat=`${climatItem[i].toLowerCase()}`).cl-item
                                                figure.trail-info__climat-icon
                                                    img(src=`${svgColorPath}${climatIcon}.svg`, alt=`Icom climat ${climatIcon}`)
                                                p.trail-info__climat-text= climatItem[i]
    section.trail-dop-info.trail-dop-info_img
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-11.col-lg-7.col-md-10.offset-md-1.m-mob-auto
                    .trail-info__badges
                        .trail-info__title-wrap
                            h2.trail-info__badges-title= content.badges.title
                            a.trail-info__more-btn(href="#")
                                span= content.badges.titleBtn
                        ul.trail-info__badges-wrap
                            li.trail-info__badget-item
                                figure.trail-info__badget-icon.trail-info__badget-icon_budget
                                    img(src=`${svgColorPath}budget.svg`, alt="Icon budget")
                                .trail-info__badget-content
                                    h3.trail-info__badget-text= content.badges.items[0]
                            li.trail-info__badget-item
                                figure.trail-info__badget-icon.trail-info__badget-icon_tent
                                    img(src=`${svgColorPath}tent.svg`, alt="Icon tent")
                                .trail-info__badget-content
                                    h3.trail-info__badget-text= content.badges.items[1]
                            li.trail-info__badget-item
                                figure.trail-info__badget-icon.trail-info__badget-icon_foodie
                                    img(src=`${svgColorPath}foodie.svg`, alt="Icon foodie")
                                .trail-info__badget-content
                                    h3.trail-info__badget-text= content.badges.items[2]
                    
                    - const reviews = content.reviews;
                    - const itemsRev = reviews.items;
                    .reviews
                        h2.reviews__title
                            = reviews.title
                            span= `(${reviews.titleQuanity})`
                        ul.reviews__wrap
                            - for(let k in itemsRev)
                                li(class=(k == 'anne') ? `reviews__item reviews__item_comment` : (k == 'adrian') ? `reviews__item reviews__item_commented` : `reviews__item`)
                                    .reviews__user-avatar
                                        figure.reviews__avatar-wrap
                                            img(src=`${imgPath}${k}.png`, alt=`User ${itemsRev[k].name}`)
                                    .reviews__content
                                        .reviews__user-about
                                            .reviews__user
                                                h3.reviews__user-name= itemsRev[k].name
                                                p.reviews__user-date= itemsRev[k].date
                                                - const stars = itemsRev[k].stars;
                                                ul.reviews__stars
                                                    - for(let i = 0; i < stars; i++)
                                                        li.reviews__star-item
                                                            +icon('star', 'yelow')
                                            .reviews__icon-like
                                                button.reviews__btn-like
                                                    +icon('like', 'soft-white')
                                        - const text = itemsRev[k].text;
                                        - const images = itemsRev[k].images;
                                        - if(text != null || images != null)
                                            .reviews__text-content
                                                - if(text != null)
                                                    p.reviews__text= text
                                                - if(images != null)
                                                    .reviews__slider
                                                        .swiper-container.rev-sl
                                                            .swiper-wrapper
                                                                - for(let i = 0; i <= images; i++)
                                                                    .swiper-slide.reviews__slider-item
                                                                            figure.reviews__wrap-img
                                                                                img(src=`${imgPath}slider-img.jpg`, alt=`Some alt of image №${i}`)
                                                                                //- p= (i == 2) ? 'lol' : 'pisun'
                                                        .reviews__wrap-btn
                                                            button.reviews__btn.reviews__btn_next
                                                                svg(viewBox="0 0 456 456" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                                    path(d="M228 455.5C167.2 455.5 110.1 431.9 67.1 388.8C24.2 345.9 0.5 288.8 0.5 228C0.5 167.2 24.1 110.1 67.1 67.0999C110.1 24.0999 167.2 0.399902 228 0.399902C288.8 0.399902 345.9 23.9999 388.9 67.0999C431.9 110.2 455.6 167.2 455.6 228C455.6 288.8 432 345.9 388.9 388.9C345.9 431.8 288.8 455.5 228 455.5Z" fill="white")
                                                                    path(d="M285.5 228L190.1 132.6L170.5 152.1L246.4 228L170.5 303.9L190.1 323.4L285.5 228Z" fill="#828282")
                        .reviews__wrapper
                            button.reviews__load-more
                                span.reviews__load-text= reviews.seeAll
                                i.reviews__load-icon
                                    +icon('down-arrow', 'orange')
                            button.reviews__write-review
                                i.reviews__write-icon
                                    +icon('pencil', 'white')
                                span.reviews__write-text= reviews.btnWriteReview
                .col-lg-4.col-md-10.offset-md-1.offset-lg-0
                    - const nearby = content.nearby;
                    .trail-info__nearly
                        h2.trail-info__nearly-title= nearby.title
                        ul.trail-info__nearly-wrap
                            - for(let i = 0; i < nearby.items.length; i++)
                                li.trail-info__nearly-item
                                    a(href="#").trail-info__nearly-link
                                        figure.trail-info__nearly-wrap-img
                                            img(src=`${imgPath}trail-${i}.jpg`, alt=`Image №${i}`)
                                        .trail-info__nearly-content
                                            h3.trail-info__nearly-item-title= nearby.items[i][0]
                                            p.trail-info__nearly-item-place
                                                i.trail-info__nearly-item-icon
                                                    +icon('pin', 'soft-white')
                                                span.trail-info__nearly-item-text= nearby.items[i][1]
                                            ul.trail-info__nearly-item-stars
                                                li.trail-info__nearly-star-item
                                                    +icon('star', 'yelow')
                                                li.trail-info__nearly-star-item
                                                    +icon('star', 'yelow')
                                                li.trail-info__nearly-star-item
                                                    +icon('star', 'yelow')
                                                li.trail-info__nearly-star-item
                                                    +icon('star', 'yelow')
                                                li.trail-info__nearly-star-item
                                                    +icon('star', 'yelow')
    //- - const modalCount = mainVar.modalClimat.items;
    - const modal = mainText.modalClimat;
    //- - console.log(modal)
                            
    .overlay
    include mainBlock/_footer
    //- ToDo Сделать модальные окна
    .modal.mod-clim
        .modal__wrap.modal__wrap-top.mod-title
            .modal__title-wrapper
                - for(let i = 0; i < modal.titles.length; i++)
                    div(data-show data-climat=`${modal.titles[i].toLowerCase()}`).modal__wrap-title.md-title
                        .modal__title-icon
                            img(src=`${svgColorPath}${modal.titles[i].toLowerCase()}.svg`, alt=`Icon ${modal.titles[i]}`)
                        h2.modal__title= modal.titles[i]
            button.modal__close.mod-cl
                span
                span
        .modal__content
            .modal__options
                h3.modal__subtitle= modal.title
                ul.modal__wrap-options
                    - for(let i = 0; i < modal.options.length; i++)
                        li.modal__option-item
                            button(data-modal-type, data-option=`${modal.options[i].toLowerCase().split(' <br>')[0].split(' ').join('-')}`).modal__option-btn.mod-btn
                                span.modal__option-icon
                                span.modal__option-text
                                    = modal.options[i].split(' <br>')[0]
                                    span.modal__option-text-small= modal.options[i].split(' <br>')[1]
            .modal__charts.m-ch
            
    include mainBlock/_scripts
