include mainBlock/_doctype
- const content = mainText.press;
- const imgPath = mainVar.path.img;

body.nav-about-page
    include mainBlock/_navigation-inside
    header.header-inside.about-page
    section.about-text
        .container
            .row
                .col-md-10.m-auto
                    h2.about-text__title= content.title
                    .about-text__wrap
                        - for(let i = 0; i < content.text.length; i++)
                            p.about-text__text= content.text[i]
                        iframe(class="press-video" src="https://www.youtube.com/embed/fr5_xJJAV64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    - const review = content.review;
    section.press-review
        .container
            .row
                .col-md-10.m-auto
                    .press-review__wrap
                        h2.press-review__title= review.title
                            ul.reviews__wrap
                                li.reviews__item
                                    .reviews__content
                                        .reviews__user-about
                                            .reviews__user
                                                .press-review__wrapper
                                                    h3.reviews__user-name=  `${review.text[2]} | ${review.text[3]}` 
                                                    p.reviews__user-date= 'June 28, 2019'
                                                - const stars = 5;
                                                ul.reviews__stars
                                                    - for(let i = 0; i < stars; i++)
                                                        li.reviews__star-item
                                                            +icon('star', 'yelow')
                                            .reviews__text-content
                                                    h3.press-review__comment-title= review.text[0]
                                                    p.reviews__text= review.text[1]
    - const logos = content.logos;
    section.press-logos
        .container
            .row
                .col-md-10.m-auto
                    h2.press-logos__title= logos.title
                    .press-logos__wrap
                        figure.press-logos__img
                            img(src=`${imgPath}press/logo-svg.svg`, alt="Logo")
                        ul.press-logos__items
                            - for(let i = 0; i < logos.items.length; i++)
                                li.press-logos__item
                                    a.press-logos__link(href=`${logos.items[i][1]}`)
                                        span Download
                                            b= ' ' + logos.items[i][0]
    - const images = content.images;
    section.press-images
        .container
            .row
                .col-md-10.m-auto
                    h2.press-images__title Images
                    ul.press-images__wrap
                        - for(let i = 0; i < images.length; i++)
                                li.press-images__item
                                    figure.press-images__wrap-img
                                        img(src=`${images[i]}`, alt=`Image #${i}`)
                                    .press-images__content
                                        a(href=`${images[i]}`).press-images__link
                                            span Download image
                    a(href="#").press-images__all-link Download all images
    section.press-other
        .container
            .row
                .col-md-10.m-auto
                    h2.press-other__title App Store and Google Play Link
                    ul.press-other__wrap
                        li.press-other__item
                            a(href="#").press-other__link= content.links[0]
                        li.press-other__item
                            a(href="#").press-other__link= content.links[1]
                    p.press-other__contact-us
                        = content.contactUs[0]
                        a(href=`mailto:${content.contactUs[1]}`)= ' ' + content.contactUs[1]

    include mainBlock/_footer
    include mainBlock/_scripts