include mainBlock/_doctype
- const individualContent = mainText.individTrail;
- const content = mainText.countryPage;
- const imgPath = mainVar.path.img;
- const svgColorPath = `${imgPath}colors-svg/`;
body
    include mainBlock/_navigation-inside
    header.header-inside.individual-trail.country-page
        .container
            .row
                .col-11.col-md-10.m-auto
                    .about-trail
                        .about-trail__wrap-left
                            h1.about-trail__title Coastal Routes in Lreland
                        .about-trail__wrap-right.ml-auto
                            a.about-trail__btn-view-map
                                i.about-trail__btn-map-icon
                                    +icon('map', 'white')
                                span= individualContent.header.btn
    section.trail-info.trail-country
        .container
            .row
                - const textSect = content.textSect;
                .col-11.col-md-10.m-auto
                    .trail-info__wrapper
                        .trail-info__wrap.trail-info__wrap_left
                            ul.breadCrumbs
                                a(href="#")= mainText.countryPage.breadCrumbs[0] + ' '
                                =' >> '
                                = ' ' + mainText.countryPage.breadCrumbs[1]
                            .trail-country__desc
                                h2.trail-country__desc-title= textSect.title
                                .trail-country__desc-wrap
                                    p.trail-country__desc-text= textSect.text
                                            
                        .trail-info__wrap.trail-info__wrap_right
                            .trail-info__view-map
                                figure.trail-info__map-img
                                    img(src=`${imgPath}map-img.jpg`, alt="Map Image")
                                a(href="#").trail-info__btn-map
                                    i.trail-info__ico-map
                                        +icon('map', 'white')
                                    span.trail-info__btn-text= individualContent.header.btn
                            
                            .trail-info__climat
                                h2.trail-info__climat-title= individualContent.climateInfo.title
                                ul.trail-info__climat-wrap
                                    - let climatItem = individualContent.climateInfo.items;
                                    - for(let i = 0; i < climatItem.length; i++)
                                        - let climatIcon = climatItem[i].toLowerCase();
                                        li.trail-info__climat-item
                                            button(data-climat=`${climatItem[i].toLowerCase()}`).cl-item
                                                figure.trail-info__climat-icon
                                                    img(src=`${svgColorPath}${climatIcon}.svg`, alt=`Icom climat ${climatIcon}`)
                                                p.trail-info__climat-text= climatItem[i]
                            
    - const popular = content.popularTrails;
    section.trail-dop-info.trail-country-popular
        .container
            .row
                .col-11.col-lg-7.col-md-10.offset-md-1.m-mob-auto
                    h2.trail-country__popular-title.type-page-tags= popular.title
                    .trail-country__popular-trails
                        - for(let i = 0; i < popular.cards.length; i++)
                            a(href="#").trail-country__popular-card
                                figure.trail-country__popular-img
                                    img(src=`${imgPath}articles/all-articles-${i}.jpg`, alt=`${popular.cards[i][0]}`)
                                .trail-country__popular-content
                                    h3.trail-country__popular-item-title= popular.cards[i][0]
                                    .trail-country__popular-place
                                        i
                                            +icon('pin', 'soft-white')
                                        span= popular.cards[i][1]
                                    .trail-country__popular-stars
                                        ul.trail-country__popular-stars-wrap
                                            - for(let y = 0; y < popular.cards[i][2]; y++)
                                                li.trail-country__popular-stars-item
                                                    +icon('star', 'yelow')
                                        .trail-country__popular-stars-text= popular.cards[i][3]
                    .trail-country__popular-more
                        a(href="#").trail-country__popular-more-btn
                            span= popular.btn
                            i
                                +icon('down-arrow', 'orange')
                .col-lg-4.col-md-10.offset-md-1.offset-lg-0
                    - const tags = content.categories;
                    .trail-country__tags
                        h2.trail-country__tags-title= tags.title
                        ul.trail-country__tags-wrap
                            - for(let i = 0; i < tags.tags.length; i++)
                                li.trail-country__tags-item
                                    a.trail-country__tags-link(href="#")
                                        span= tags.tags[i]
                        .trail-country__tags-more
                            a(href="#").trail-country__tags-more-btn
                                span= tags.btn
                                i
                                    +icon('down-arrow', 'orange')
                    
    section.news.news-inside
        img.quick-links__img(src=`${mainVar.path.img}footer-illustraion.png`, alt="Footer illustration")
        .container
            .row
                .col-md-10.m-auto
                    h2.news__title
                        = mainText.heroPage.news.title
                    .news__wrap
                        - for(let i = 1; i <= 3; i++)
                            a(href="#").news__card
                                figure.news__wrap-img
                                    img(src=`${mainVar.path.img}news-${i}.jpg`, alt=`Some alt for image №${i}`)
                                .news__wrap-content
                                    h3.news__card-title= mainText.heroPage.news.items[`${i}`][0] 
                                    p.news__text= mainText.heroPage.news.items[`${i}`][1]
    - const modal = mainText.modalClimat;
    //- - console.log(modal)
                            
    .overlay
    include mainBlock/_footer
    //- ToDo Сделать модальные окна
    .modal.mod-clim
        .modal__wrap.modal__wrap-top.mod-title
            .modal__title-wrapper
                - for(let i = 0; i < modal.titles.length; i++)
                    div(data-show data-climat=`${modal.titles[i].toLowerCase()}`).modal__wrap-title.md-title
                        .modal__title-icon
                            img(src=`${svgColorPath}${modal.titles[i].toLowerCase()}.svg`, alt=`Icon ${modal.titles[i]}`)
                        h2.modal__title= modal.titles[i]
            button.modal__close.mod-cl
                span
                span
        .modal__content
            .modal__options
                h3.modal__subtitle= modal.title
                ul.modal__wrap-options
                    - for(let i = 0; i < modal.options.length; i++)
                        li.modal__option-item
                            button(data-modal-type, data-option=`${modal.options[i].toLowerCase().split(' <br>')[0].split(' ').join('-')}`).modal__option-btn.mod-btn
                                span.modal__option-icon
                                span.modal__option-text
                                    = modal.options[i].split(' <br>')[0]
                                    span.modal__option-text-small= modal.options[i].split(' <br>')[1]
            .modal__charts.m-ch
            
    include mainBlock/_scripts
                                    
                    
