mixin section(setings)
    section(class=`${setings.sectClas}`)
        .container
            if block
                block
            else
                p No content providet

mixin icon(name,mod)
    - mod = mod || '';
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="img/sprinte/sprite.svg#" + name)