.press-review {
    padding-top: 128px;
    &__title {
        @extend %press-title;
        margin-bottom: 32px;
    }
    &__comment-title {
        @extend %press-review-title;   
    }
    &__wrapper {
        width: 100%;
    }
    .reviews {
        &__content {
            padding-left: 0;
        }
        &__user {
            @extend %df;
            @extend %jcsb;
            align-items: flex-start;
        }
        &__user-about {
            display: block;
        }
        &__user-date {
            margin-bottom: 0;
        }
        &__text-content {
            margin-top: 24px;
        }
        &__stars {
            width: auto;
            height: auto;
        }
    }
}
.press {
    &-video {
        width: 100%;
        min-height: 500px;
    }
    &-logos,
    &-images,
    &-other {
        &__title {
            @extend .press-review__title;
        }
    }
    &-logos {
        padding-bottom: 128px;
        &__wrap {
            @extend %df;
        }
        &__img {
            width: 200px;
            height: 200px;
        }
        &__item {
            margin-left: 16px;
        }
        &__items {
            margin-bottom: 16px;
        }
        &__link {
            @extend %press-link;
        }
    }
    &-images {
        padding-bottom: 128px;
        &__wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            // grid-template-rows: 1fr 1fr;
            // row-gap: 30px;
        }
        &__item {
            width: 100%;
        }
        &__wrap-img {
            width: 100%;
            overflow: hidden;
        }
        &__link {
            display: inline-block;
            width: 100%;
            @extend %press-link;
            margin-top: 8px;
            text-align: center;
        }
        &__all-link {
            @extend %press-link-all;
            display: inline-block;
            width: 100%;
            margin-top: 24px;
        }
    }
    &-other {
        padding-bottom: 128px;
        &__wrap {
            margin-bottom: 32px;
            padding-left: 32px;
        }
        &__link {
            @extend %press-link;
        }
        &__contact-us {
            @extend %press-simple-text;
        }
    }
}
.app-page-header {
    overflow: hidden;
    &.hero-page-app {
        .app-header__wrap {
            padding-top: 128px;
        }
    }
}
.app-header {
        @extend %df;
        position: relative;
        // overflow: hidden;
		// .app-header__bg-img

		&__bg-img {
            position: absolute;
            bottom: -100px;
            right: -220px;
            z-index: -1;
            max-width: 720px;
		}

		// .app-header__wrap

		&__wrap {
            padding-top: 280px;
			// .app-header__wrap_left

			&_left {
            }
            
			// .app-header__wrap_right

			&_right {
                padding-left: 100px;
                padding-right: 120px;
			}
		}

		// .app-header__image

		&__image {
            width: 280px;
            margin-bottom: -5px;
		}

		// .app-header__title

		&__title {
            @extend %app-heder-title;
            margin-bottom: 40px;
		}

		// .app-header__wrapper

		&__wrapper {
		}

		// .app-header__item

		&__item {
            @extend %df;
            @extend %aic;
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 32px;
            }
		}

		// .app-header__item-icon

		&__item-icon {
            width: 35px;
            height: 35px;
            margin-right: 25px;
            .icon {
                width: inherit;
                height: inherit;
            }
		}

		// .app-header__item-text

		&__item-text {
            @extend %app-header-text;
		}

		// .app-header__text

		&__text {
		}

		// .app-header__btns

		&__btns {
            @extend %df;
            // @extend %jcsb;
		}

		// .app-header__link

		&__link {
            @extend %btn-download;
			// .app-header__link_ios

			&_ios {
                background-image: url(../img/apple_store.png);
                margin-right: 24px;
			}

			// .app-header__link_google

			&_google {
                background-image: url(../img/google_play.png);
			}
		}
}

.advantage-app {
    padding-top: 128px;

		// .advantage-app__sec

		&__sec {
			// .advantage-app__sec_0

			&_0 {
                @extend %app-section-0;
			}

			// .advantage-app__sec_1

			&_1 {
                @extend %app-section-1;
                .advantage-app {
                    &__wrap {
                        &_left {
                            order: 1;
                        }
                    }
                }
			}

			// .advantage-app__sec_2

			&_2 {
                @extend %app-section-2;
			}

			// .advantage-app__sec_3 

			&_3 {
                @extend %app-section-3;
                .advantage-app {
                    &__wrap {
                        &_left {
                            order: 1;
                        }
                    }
                }
			}

			// .advantage-app__sec_4

			&_4 {
                @extend %app-section-4;
			}
		}

		// .advantage-app__wrapper

		&__wrapper {
            @extend %df;
            @extend %jcsb;
		}

		// .advantage-app__wrap

		&__wrap {

			// .advantage-app__wrap_left

			&_left {
			}

			// .advantage-app__wrap_right

			&_right {
			}
		}

		// .advantage-app__text-contet

		&__text-contet {
            // padding-right: 130px;
            max-width: 545px;
            margin-top: 100px;
		}

		// .advantage-app__title

		&__title {
            @extend %app-section-title;
		}

		// .advantage-app__icons

		&__icons {
            @extend %df;
            margin-top: 30px;
		}

		// .advantage-app__icon-item

		&__icon-item {
            @extend %df;
            @extend %aic;
            @extend %jcc;
            color: $white;
            width: 40px;
            height: 55px;
            margin-right: 30px;
            border-radius: 50%;
            box-shadow: 0px -12px 13px -9px rgba(0,0,0,0.4);
            &:last-child {
                margin-right: 0;
            }
		}

		// .advantage-app__img

		&__img {
            width: 300px;
            margin-bottom: -5px;
		}
}


// ==> App Page settings
.about-trail-app {

		// .about-trail-app__wrap-btns

		&__wrap-btns {
            margin-top: 40px;
            @extend %df;
            height: 48px;
		}

		// .about-trail-app__btn

		&__btn {
            @extend .app-info__btn;
            
			// .about-trail-app__btn_ios

			&_ios {
                @extend .app-info__btn_ios;
			}

			// .about-trail-app__btn_google

			&_google {
                @extend .app-info__btn_google;
			}
		}
}
.dow-now {
    position: relative;
    overflow: hidden;
    padding-top: 72px;
    padding-bottom: 210px;
    background-image: linear-gradient( -21deg, rgba(255,211,0, .15) 0%, rgba(255,198,0, .15) 100%);

		// .dow-now__wrap

		&__wrap {
            @extend %df;
            @extend %jcc;
            @extend %aic;
		}

		// .dow-now__title

		&__title {
            @extend %app-download-title;
            margin-right: 32px;
		}

		// .dow-now__btns

		&__btns {
            @extend %df;
            // height: 48px;
		}

		// .dow-now__btn

		&__btn {
            @extend %btn-download;

			// .dow-now__btn_ios

			&_ios {
                background-image: url(../img/apple_store.png);
                margin-right: 24px;
			}

			// .dow-now__btn_google

			&_google {
                background-image: url(../img/google_play.png);
			}
		}
}