-
    const mainVar = {
        path: {
            css: 'css/',
            js: 'js/',
            img: 'img/'
        }
    };

-
    const mainText = {
        title: 'Hiiker',
        menu: ['APP', 'ABOUT', 'PRESS', 'BLOG'],
        menuInside: ['APP', 'ABOUT', 'PRESS', 'BLOG'],
        heroPage: {
            searchbar: {
                title: 'Discover multiday hiking|adventures with |HiiKER',
                placeholder: 'Enter a hiking trail',
                searchBtn: 'Search',
                otherBtns: ['Map View', 'Advanced Search'],
                tags: {
                    title: 'Or find trails in:',
                    items: [
                        'United States',
                        'Canada',
                        'United Kingdom',
                        'Australia',
                    ],
                }
            },
            popularTrails: {
                title: 'Popular Trails Near You',
                exploreLink: 'Explore All',
                slider: [
                    'Pennine Way',
                    'Pennine Way',
                    'Hadrian’s Wall Path',
                    'South West Coast Path',
                    'Coast to Coast Walk',
                    'West Highland Way',
                ],
            },
            //- new Block
            pricing: {
                title: 'Pricing',
                plans: {
                    basic: {
                        bestValue: null,
                        title: 'Basic',
                        price: [
                            'Free',
                        ],
                        about: 'Basic give you the basic tools to start exploring.',
                        items: [
                            '300 trails ready to explore',
                            'Online access to trail maps',
                            'Access to 1 high-quality map layer',
                            'Hostels, campground Hotel information',
                            'Amenity Information',
                        ],
                        btn: 'Start Exploring',
                    },
                    trail: {
                        bestValue: null,
                        title: 'Trail HiiKER',
                        price: [
                            '€9.99',
                            '(Once off payment)',
                        ],
                        about: 'Get ready to hit the trail with the reassurance of complete offline functionality.',
                        items: [
                            '4 high-quality map layers',
                            '2 offline high-quality maps',
                            'Save trail locations',
                            'Offline access for accomidation and amenities',
                            'Historical points of Interest along the trail.',
                        ],
                        btn: 'Select a trail',
                    },
                    
                    hiiker: {
                        bestValue: 'Best Value',
                        title: 'HiiKER unlimited',
                        price: [
                            '€1.27 per month',
                            '(Billed yearly)',
                        ],
                        about: 'More map layers, access to subscriber only trails added most days.',
                        items: [
                            'Everything from Trail Hiiker',
                            '6 premium-quality map layers',
                            'Premium support contact',
                            'Subscriber-only trails',
                            'Recommend a trail',
                        ],
                        btn: 'Subscribe',
                    },
                },
            },
            //- New Block 
            countries: {
                title: 'Countries',
                tags: [
                    'Australia',
                    'Austria',
                    'Belgium',
                    'Bulgaria',
                    'Denmark',
                    'France',
                    'France',
                    'Germany',
                    'Greece',
                    'Hungary',
                    'Italy',
                    'Japan',
                    'France',
                    'Denmark',
                    'Australia',
                    'Austria',
                    'Belgium',
                    'Bulgaria',
                ],
                info: 'Can find the country you are looking for? Why not suggest a trail at <a>info@hiiker.co',
            },
            //- New Block
            trailTypes: {
                title: 'Trail types',
                tags: [
                    'Coastal Trail',
                    'Budget Trail',
                    'Coastal Trail',
                    'Budget Trail',
                    'Coastal Trail',
                    'Coastal Trail',
                    'Budget Trail',
                    'Coastal Trail',
                    'Budget Trail',
                    'Japan',
                    'France',
                    'Denmark',
                    'Australia',
                    'Austria',
                    'Belgium',
                    'Bulgaria',
                ],
            },
            featureTrails: {
                title: 'Featured Trails',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                slider: [
                    'Wicklow Way',
                    'Kerry Way',
                    'Wicklow Way',
                    'Kerry Way',
                ],
            },
            appInfo: {
                title: 'App Information',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.',
            },
            appFeature: {
                title: 'App Features',
                items: [
                    'App Feature',
                    'Lorem ipsum dolor sit amet, con secte tur adipiscing elit.',
                ],
                titleTwo: 'Nemo enim ipsam voluptatem <br> quia voluptas sit aspernatur',
                text: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo',
            },
            news: {
                title: 'Latest News & Updates',
                items: {
                    '1':[
                        'The lake is a long way from here.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    '2': [
                        'I think I will buy the red car.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    '3':[
                        'The waves were crashing on the shore.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                },
            },
            popularLinks: {
                title: 'Browse Trails Near Popular Cities',
                links1: [
                    'London',
                    'Edinburgh', 
                    'Manchester', 
                    'Birmingham', 
                ],
                links2: [
                    'Glasgow', 
                    'Liverpool', 
                    'Bristol', 
                    'Oxford',
                ],
                links3: [
                    'Cambridge', 
                    'Cardiff', 
                    'Brighton',
                    'Newcastle-upon-Tyne and Gateshead',
                ],
                links4: [
                    'Leeds', 
                    'York', 
                    'Inverness',
                    'Bath',
                ],
            },
        },
        individTrail: {
            header: {
                title: 'West Highland Way',
                place: 'Highlands of Scotland',
                stars: 5,
                reviews: '32 Reviews',
                btn: 'View map',
            },
            stats: {
                title: 'Stats',
                items: {
                    'length': 'Trail Length<br>151 km',
                    'distance': 'No. of Stages<br>8 Stages',
                    'elevation': 'Elevation Gain<br>4132 m',
                    'elevation-loss': 'Elevation Loss<br>4177 m',
                    'average': 'Average Elevation per KM<br>22 m',
                    'max-mountains': 'Max Elevation<br>151 km',
                }
            },
            climateInfo: {
                title: 'Climate Info',
                items: [
                    'Spring',
                    'Summer',
                    'Autumn',
                    'Winter',
                ],
            },
            nearby: {
                title: 'Nearby Trails',
                items: [
                    ['Pennine Way', 'Northern England'],
                    ['Hadrian’s Wall Path', 'Northumberland'],
                    ['South West Coast Path', 'Somerset'],
                    ['Coast to Coast Walk', 'Saint Bees'],
                ],
            },
            badges: {
                title: 'Badges',
                titleBtn: 'See Badge Meanings',
                items: [
                    'Budget Trail Badge',
                    'Rough Badge',
                    'Foodie Badge',
                ],
            },
            description: {
                title: 'Description',
                text: [
                    'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.',
                    'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.',
                ],
            },
            reviews: {
                title: 'Reviews',
                titleQuanity: '32',
                seeAll: 'See All 32 Reviews',
                btnWriteReview: 'Write Your Own Review',
                items: {
                    'adrian': {
                        name: 'Adrian',
                        date: 'June 28, 2019',
                        stars: 5,
                        text: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.',
                        images: null,
                    },
                    'anne': {
                        name: 'Anne',
                        date: 'June 28, 2019',
                        stars: 5,
                        text: null,
                        images: null,
                    },
                    'jason': {
                        name: 'Jason',
                        date: 'June 29, 2019',
                        stars: 2,
                        text: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.',
                        images: 5,
                    },
                    'janeth': {
                        name: 'Janeth',
                        date: 'June 28, 2019',
                        stars: 4,
                        text: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.',
                        images: null,
                    },
                    'mark': {
                        name: 'Mark',
                        date: 'June 27, 2019',
                        stars: 1,
                        text: null,
                        images: null,
                    },
                }
            }
        },
        newsTitle: {
            title: 'About West Highland Way',
            titleAboutUs: 'Featured Articles',
            seeAllNews: 'See All Articles About West Highland Way',
        },
        aboutUsPage: {
            title: 'About Us',
            text: [
                'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.',
                'Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?',
            ],
            team: {
                title: 'Meet the Team',
                members: [
                    ['Arlene Bryant', 'Co-founder, CEO',],
                    ['Marion Escobar', 'Co-Founder, CPO',],
                    ['August Figueroa', 'Chief Operating Officer',],
                    ['Madeline Wiggins', 'Ice President of Employee Experience',],
                ],
            },
            quoteSect: {
                title: '“<br>Best hiking app ever! Can’t leave home without it!',
                text: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo!',
                member: {
                    name: 'Anne',
                    form: 'Hessle, England',
                    stars: 5,
                },
            },
        },
        allArticlesPage: {
            searchBlock: {
                title: 'Waymarked Trails Featured Articles',
                placeholder: 'Search for Articles',
                items: [
                    [
                        'I really want to go to work, but I am too sick to drive.',
                        'Anthony Diaz',
                        'July 04, 2018',
                    ],
                    [
                        'They got there early, and they got really good seats.',
                        'Anthony Diaz',
                        'July 04, 2018',
                    ],
                    [
                        'The memory we used to share is no longer coherent.',
                        'Anthony Diaz',
                        'July 04, 2018',
                    ],
                ],
            },
            articlesBlock: {
                title: 'All Articles',
                loadMore: 'Load More',
                items: [
                    [
                        '+0',
                        'The lake is a long way from here.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+1',
                        'I think I will buy the red car.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+2',
                        'The waves were crashing on the shore.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+3',
                        'If I don’t like something, I’ll stay away from it.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+4',
                        'I\'d rather be a bird than a fish',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+5',
                        'He ran out of money, so he had to stop playing.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+0',
                        'The lake is a long way from here.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+1',
                        'I think I will buy the red car.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+2',
                        'The waves were crashing on the shore.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+3',
                        'If I don’t like something, I’ll stay away from it.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+4',
                        'I\'d rather be a bird than a fish',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+5',
                        'He ran out of money, so he had to stop playing.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+0',
                        'The lake is a long way from here.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+1',
                        'I think I will buy the red car.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+2',
                        'The waves were crashing on the shore.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+3',
                        'If I don’t like something, I’ll stay away from it.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+4',
                        'I\'d rather be a bird than a fish',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                    [
                        '+5',
                        'He ran out of money, so he had to stop playing.',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    ],
                ],
            },
        },
        press: {
            title: 'Press',
            text: [
                'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.',
                'Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?',
            ],
            review: {
                title: 'What our users say',
                text: [
                    'Review Title',
                    'Review text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.',
                    'BogdanCrius',
                    'iOS user',
                ],
            },
            logos: {
                title: 'Logo',
                items: [
                    [
                        'PNG 1024x1024',
                        `${mainVar.path.img}press/logo@3x.png`,
                    ],
                    [
                        'PNG 512x512',
                        `${mainVar.path.img}press/logo@2x.png`,
                    ],
                    [
                        'SVG',
                        `${mainVar.path.img}press/logo-svg.svg`,
                    ],
                ],
            },
            images: [
                'https://images.unsplash.com/photo-1512486754243-f38ddb8e53b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80',
                'https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80',
                'https://images.unsplash.com/photo-1512054502232-10a0a035d672?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80',
                'https://images.unsplash.com/photo-1512487006891-a6317ce86a27?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80',
            ],
            links: [
                'Link to App Store (IOS)',
                'Link to Google Play (Androind)',
            ],
            contactUs: [
                'If you can\'t find something you need, please contact us at',
                'support@hiiker.co',
            ],
        },
        appPage: {
            header: {
                title: 'HiiKER: Multiday hiking trails',
                items: [
                    'See all of the accommodation thats near the trail on one map. Know exactly how far it is from the trail.',
                    'Over 300 trails ready to explore around the world with more added every day',
                    'Offline Maps, offline everything. We build our product for the trail.',
                ],
            },
            sections: {
                titles : [
                    'Stick to the trail,| all the best accommodation near the trail',
                    'Hike when the weather| is right. Use our long-term climate trends to decide what time of year is best for you.',
                    'Online, Offline, you’re safe.| Access maps and trail information without cell coverage.',
                    'Stage by stage| breakdown of the trail. Know the challenge for the day ahead.',
                    'Break from the crowd.| Try one of our alternative routes.'
                ],
            },
        },
        modalClimat: {
            titles: [
                'Spring',
                'Summer',
                'Autumn',
                'Winter',
            ],
            title: 'Choose an option:',
            options: [
                'Avg Temp <br>10.1',
                'Max Temp <br>16.1',
                'Min Humidity <br>10.1',
                'Avg Wind Daily <br>10.1',
                'Solar <br>10.1',
                'Min Temp <br>5.8',
                'Precipitation <br>10.1',
                'Max Humidity <br>10.1',
                'Max Wind Daily <br>10.1',
            ],
        },
        countryPage: {
            title: 'Ireland',
            breadCrumbs: [
                'Trails',
                'Ireland'
            ],
            textSect: {
                title: 'Walking in Ireland',
                text: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.',
            },
            stats: {
                title: 'Stats',
                items: {
                    'length': 'Total trail distance<br>151023 km',
                    'distance': 'Total number of trails<br>35',
                    'elevation': 'Max elevation<br>17517 m',
                    'winter': 'Lowest Temperature<br>9.3°',
                    'sun': 'Highest Temperature<br>17.7°',
                    'avg-precip': 'Average Precipitation<br>20.1 ml',
                }
            },
            categories: {
                title: 'Trail Caterogies',
                btn: 'See more categories',
                tags: [
                    'Coastal Trails',
                    'Easy',
                    'Hard',
                    'River Trails',
                    'Bugret Trails',
                    'Camping Trails',
                    'Historic Trails',
                ],
            },
            popularTrails: {
                title: 'Popular Trails',
                btn: 'See more popular trails',
                cards: [
                    [
                        'The Ireland Way®',
                        'West Cork, Ireland',
                        5,
                        '(32 Reviews)',
                    ],
                    [
                        'Wicklow Way',
                        'Wicklow, Ireland',
                        4,
                        '(25 Reviews)',
                    ],
                    [
                        'Kerry Camino',
                        'Kerry, Ireland',
                        5,
                        '(45 Reviews)',
                    ],
                    [
                        'Dublin Mountains Way',
                        'Dublin, Ireland',
                        3,
                        '(10 Reviews)',
                    ],
                    [
                        'South Leinster Way',
                        'Lackabeg, Ireland',
                        2,
                        '(1 Reviews)',
                    ],
                    [
                        'South Leinster Way',
                        'Lackabeg, Ireland',
                        5,
                        '(99+ Reviews)',
                    ],
                ],
            },
        },
        footer: {
            title: 'Get the App',
            items: {
                about: [
                    'About',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.',
                    '© Waymarked Trails 2019',
                ],
                contact: [
                    'Contact',
                    '+12 345 678 90',
                    'support@waymarkedtrails.com',
                ],
                social: [
                    'Social',
                    'facebook',
                    'twitter',
                    'instagram',
                ],
            }
        },
    }

-
    const links =  {
        menuLink: [
            'expertise.html',
            'people.html',
            'insights.html',
            'contacts.html'
        ]
    }