@include bp(1025px) {
    .app-header__wrap_right {
        padding-left: 40px;
        padding-right: 0;
    }
    .advantage-app__title {
        font-size: rem(28);
    }
}
@include bp(995px) {
    .app-header__image {
        position: absolute;
        bottom: 0;
        left: -115px;
        opacity: .3;
        z-index: -1;
        display: none;
    }
    .app-header__wrap_right {
        margin-bottom: 128px;
    }
    .advantage-app__img {
        width: 220px;
    }
    .advantage-app__text-contet {
        margin-top: 30px;
        // max-width: 250px;
    }
    .advantage-app__title {
        font-size: rem(24);
    }
    .white-nav {
        .navigation {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .menu__mob_btn {
            span {
                background-color: $black;
            }
        }
    }
}
@include bp(767px) {
    .header-inside {
            &.app-page {
                .app-page__title {
                    text-align: center;
                }
            }
    }
    .press {
        &-video {
            min-height: 215px;
        }
        &-review {
            &__wrap {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &-logos {
            &__title {
                padding-left: 15px;
            }
            &__wrap {
                display: block;
                padding-right: 15px;
                padding-left: 15px;
            }
            &__items {
                margin-top: 32px;
            }
        }
        &-images {
            &__title {
                padding-left: 15px;
            }
            &__wrap {
                grid-template-columns: 1fr;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &-other {
            &__title,
            &__wrap,
            &__contact-us {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    
    .about-trail-app {

            // .about-trail-app__wrap-btns

            &__wrap-btns, .dow-now__btns {
            }

            // .about-trail-app__btn

            &__btn, .dow-now__btn {
                width: calc(100% / 2);
                // .about-trail-app__btn_ios

                &_ios {
                    // margin-right: 0;
                }

                // .about-trail-app__btn_google

                &_google {
                }
            }
    }
    .dow-now {
        &__title {
            margin-right: 0;
        }
        &__wrap {
            flex-direction: column;
        }
        &__btns {
            width: 100%;
            padding: 0 10px;
            margin-top: 20px;
            justify-content: space-between;
        }
        &__btn {
            width: calc(100% / 2);
            height: 45px;
            &_ios {
                margin-right: 5px;
            }
            &_google {
                margin-left: 5px;
            }
        }
    }
    .app-header__wrap_right {
        padding: 75px  10px 0;
    }
    .advantage-app__wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .advantage-app__title {
        text-align: center;
        padding: 0 15px;
    }
    .advantage-app__icons {
        justify-content: center;
    }
    .advantage-app__wrap_right {
        order: 1;
    }
    .advantage-app__img {
        width: 300px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: -5px;
    }
    .app-header__btns {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .app-header__link_ios {
        margin-right: 0;
        margin-bottom: 12px;
    }
}
@include bp(400px ) {
    .advantage-app__img {
        width: 240px;
        // max-width: 240px;
    }
}