@include bp(420px) {
    .app-info__wrapper {
        padding-right: 0;
    }
    .search-bar__wrap {
        height: 63px;
    }
    .search-bar__input {
        font-size: rem(16);
    }
    .search-bar__button {
        font-size: rem(16);
        width: auto;
        padding: 0 15px;
        // background-image: url(../img/ico-search.png);
        // background-size: cover;
        // background-position: center center;
        // width: 25px;
        // height: 25px;
        // span {
        //     // display: none;
        // }
    }
    .app-info__btn_ios {
        margin-right: 25px;
    }
    .featured-sect {
        padding-top: 93px;
    }
    .featured__wrap-text {
        margin-top: 0;
    }
    .about__wrap {
        padding-top: 0;
    }
    .about {
        padding-bottom: 131px;
    }
    .quick-links__img {
        width: 100%;
        margin-left: 0;
        left: 0;
        bottom: -9px;
    }
   
}
@include bp(360px) {
    .popular__wrap {
        flex-direction: column;
        align-items: center;
        // justify-content: center;
    }
    .featured-sect {
        padding-top: 73px;
    }
    .featured__slider-item {
        max-width: 300px;
    }
    .app-info__wrapper {
        padding-left: 8px;
    }
    .app-info__wrap-btn {
        flex-direction: column;
        height: auto;
    }
    .app-info__btn_ios {
        margin-bottom: 10px;
    }
     .about__wrap-text {
        display: block;
    }
    .about__text {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .search-bar__title {
        font-size: rem(24);
        line-height: rem(32);
    }
    .pricing__btn {
        width: 260px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .pricing__card {
        padding-left: 15px;
        padding-right: 15px;
    }
}