@include bp(766px) {
    .header {
        background-size: cover;
    }
    .menu__mob {
        padding-right: 30px;
    }
    .search-bar, .search-bar__wrap-btns {
        padding: 0 10px;
    }
    .search-bar__wrap-btns {
        flex-direction: column;
        justify-content: center;
    }
    .search-bar__btns_map {
        margin-bottom: 15px;
    }
    .search-bar__input {
        padding-left: 40px;
    }
    .search-bar__wrap:before {
        left: 12px;
    }
    .popular__slider-link {
        margin: 0 auto;
    }
    .popular__wrap {
        padding: 0 30px;
    }
    .popular__title {
        font-size: rem(20);
    }
    .popular__link {
        font-size: rem(18);
    }
    .popular__wrap-btn {
        left: 15px;
        right: 15px;
    }
    .popular__btn {
        width: 45px;
        height: 45px;
    }
    .featured__wrap-btn {
        margin-bottom: 35px;
    }
    .about img {
        display: none;
    }
    .about__wrap {
        padding-top: 121px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .quick-links__wrap {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .quick-links__wrap-list {
        width: 160px;
        margin-bottom: 30px;
        // margin: 0 20px;
    }
    .footer__app {
        flex-direction: column;
    }
    .footer__main-title {
        text-align: center;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .footer__wrap-other {
        flex-direction: column;
        padding-right: 30px;
        padding-left: 30px;
    }
    .footer__wrapper {
        margin-bottom: 30px;
    }
    .about_about-page .about__wrap {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .about_about-page {
        padding-bottom: 100px;
    }
    .header-inside.about-page {
        background-position: -670px 0;
    }
    .about-text__title,
    .about-text__wrap,
    .team__title {
        padding-left: 15px;
        padding-right: 15px;
    }
    .search-bar__title {
        font-size: rem(32);
        line-height: rem(43);
    }
    .search-bar__wrap-tags {
        flex-direction: column;
        justify-content: center;
    }
    .search-bar__tags-title {
        margin-bottom: 16px;
    }
    .country__title,
    .country__wrap,
    .country__text,
    .trail-type__title,
    .pricing__wrap {
        padding: 0 15px;
    }
    .pricing__btn {
        width: 301px;
    }
}