@include bp(995px) {
    .nav-about-page {
        .menu__mob_btn {
            span {
                background-color: $black;
            }
        }
    }
    .menu {
        position: absolute;
        top: -28px;
        right: 0;
        padding-top: 70px;
        width: 150px;
        padding-bottom: 15px;
        flex-direction: column;
        background-color: $white;
        z-index: 5;
        transition: all .3s ease;
        transform: translateY(-450px);
        &.open {
            transform: translateX(0);
        }
        &__item {
            margin: 0;
            margin-bottom: 20px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
            color: $black;
        }
        &__mob {
            position: relative;
            z-index: 10;
            display: block;
            width: 23px;
            height: 19px;
            margin-left: auto;
            margin-top: 11px;
            &_btn {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                width: 23px;
                height: 100%;
                
                    transition: all .5s ease;

                        
                span {
                    display: block;
                    width: 23px;
                    height: 3px;
                    background-color: $black;
                    transition: all .5s ease;
                    &:first-child {
                        position: absolute;
                        top: 0;
                        left: 0px;
                    }
                    &:last-child {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
                &.active {
                    span {
                        background-color: $black;
                        &:first-child {
                            top: 8px;
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            height: 0;
                        }
                        &:last-child {
                            bottom: 8px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
    .search-bar {
        &__wrap {
            margin: 0;
            display: flex;
            justify-content: space-between;
        }
        &__button {
            margin-left: 0;
        }
    }
    .featured__slider-item {
        max-width: 350px;
    }
    .app-info-sect {
        background-size: cover;
    }
    .app-feature__wrapper {
        flex-direction: column;
    }
    .app-feature__card {
        width: 300px;
        padding-left: 113px;
        margin-bottom: 20px;
    }
    .about img {
        left: -342px;
    }
    .news__wrap {
        flex-direction: column;
        justify-content: center;
    }
    .news__card {
        max-width: 300px;
        margin: 0 auto;
        border-bottom: 1px solid $text_color;
        margin-bottom: 20px;
    }
    .quick-links__wrap {
        padding: 0;
        margin: 63px auto 0;
    }
    .footer__wrap-logo-app {
        flex-direction: column;
        justify-content: center;
    }
    .footer__app {
        margin-top: 30px;
    }
    .footer__wrap-other {
        padding-right: 0;
    }
    .team__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team__item {
        margin-bottom: 20px;
    }
    .search-bar__wrap-tags {
        align-items: flex-start;
    }
    .search-bar__tags {
        flex-wrap: wrap;
    }
    .search-bar__tags-item {
        margin-bottom: 10px;
    }
    .pricing-sect {
        padding-bottom: 76px;
    }
    .pricing__wrap {
        display: block;
    }
    .pricing__card {
        // min-width: 320px;
        max-width: 370px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
}