@include bp(1195px) {
    .search-bar__wrap-btns {
        padding: 0;
    }
}
@include bp(1025px) {
    .navigation {
        .search-bar {
            display: none;
        }
    }
    .search-bar {
        &__wrap-btns {
            padding: 0;
        }
    }
    .app-feature__card {
        padding-left: 93px;
        width: 258px;
        padding-right: 20px;
    }
    .about img {
        left: -152px;
    }
    .about__wrap {
        padding-left: 0;
    }
    .news__card {
        max-width: 260px;
    }
}