@include bp(766px) {
    
    .m-mob-auto {
        margin: 0 auto;
    }
    .header-inside {
        padding-top: 120px;
    }
    .header,
    .navigation {
        &-inside {
            // overflow: hidden;
        }
    }
    .about-trail__wrap-right {
        margin: 0;
        max-width: 180px;
        margin-top: 20px;
    }
    .about-trail {
        flex-direction: column;
    }
    .trail-info__stats-wrap {
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        justify-content: space-between;
    }
    .trail-info__stats-item {
        // margin: 0 auto;
        // max-width: 200px;
        // padding-left: 50px;
    }
    .trail-info__title-wrap {
        align-items: center;
    }
    .trail-info__badget-item {
        &:first-child {
            margin-right: 0;
        }
        margin-bottom: 30px;
    }
    .trail-info__wrap-btn {
        padding: 0 4px;
        margin-top: -15px;
    }
    .trail-info__btn {
        width: 30px;
        height: 30px;
    }
    .reviews__item {
        flex-direction: column;
    }
    .reviews__content {
        padding-left: 0;
    }
    .reviews__user-avatar {
        margin-bottom: 15px;
    }
    .reviews__slider:after {
        width: 150px;
    }
    .reviews__slider::before {
        width: 80px;
    }
    .reviews__wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .reviews__load-more {
        justify-content: center;
        margin-bottom: 20px;
    }
    .reviews__write-review {
        margin: 0 auto;
    }
    .trail-info__stats-item {
        max-width: 180px;
    }
    .trail-info__stats-item-title {
        font-size: rem(16);
    }
    .modal {
        width: 300px;
        margin-left: -150px;
        &.open {
            top: 70px;
        }
    }
    .modal__subtitle {
        margin-bottom: 24px;
    }
    .modal__option-btn {
        width: 135px;
        padding-left: 5px;
    }
    .modal__wrap-top,
    .modal__content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .modal__content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .modal__charts {
        width: 100%;
        height: 150px;
    }
    .modal__wrap-options {
        margin-bottom: 5px;
    }
    .modal__option-item {
        margin-bottom: 5px;
    }
    .trail-country__popular-title {
        margin-top: 50px;
    }
    .trail-country__popular-trails {
        justify-content: center;
        // padding: 0 10px;
    }
    .trail-country__tags {
        padding-left: 0;
    }
    .trail-country__popular-card {
        width: 70%;
    }
    // .trail-about__map-icons {
    //     padding: 0 10px;
    // }
    .trail-about__map {
        padding: 0 10px;
    }
    .trail-new-info {
        .trail-info__climat-wrap {
            padding-right: 0;
        }
        .trail-info__wrap_right {
            margin-bottom: 67px;
        }
        .trail-info__climat-icon {
            width: 73px;
            height: 73px;
        }
        .trail-info__climat-text {
            font-size: rem(18);
        }
    }
    .trail-about__map-icons {
        margin-top: -12px;
        padding: 0 50px;
    }
    .trail-about__map-ico-link {
        font-size: rem(16);
    }
    .trail-about__map-ico {
        width: 65px;
        height: 65px;
        img {
            width: 21px;
            height: 21px;
        }
    }
    .trail-about__adv-link {
        font-size: rem(20);
    }
    .trail-about__adv-icon {
        width: 22px;
        height: 22px;
        margin-right: 22px;
    }
    .trail-about__map-link {
        padding: 20px;
        height: 65px;
    }
    .trail-about__adv-link {
        padding: 20px;
    }
}
@include bp(450px) { 
    .about-trail__tag {
        margin-left: 30px;
    }
    .about-trail__place, .about-trail__title_trail-page, .about-trail__wrap-stars {
        padding-left: 32px;
    }
    .about-trail__place-text {
        font-size: rem(16);
    }
    .trail-about__map-icons {
        padding: 0 20px;
    }
    .trail-about__map-img {
        // height: 195px;
    }
    .trail-about__adv .breadCrumbs {
        // margin-top: -320px;
        // margin-bottom: 326px;
    }
    .trail-about__adv-link {
        padding: 15px 20px;
    }
    .trail-about__adv-item {
        margin-bottom: 15px;
    }
    .trail-new-info {
        .trail-info__climat-icon {
            width: 63px;
            height: 63px;
        }
        .trail-info__climat-text {
            font-size: rem(16);
        }
    }
    .trail-dop-info_img {
        .trail-info__title-wrap {
            margin-bottom: 25px;   
        }
    }
}
@include bp(400px) {
    .trail-dop-info_img {
        padding-bottom: 170px;
    }
    .reviews__slider::before {
        width: 60px;
    }
    .reviews__slider::after {
        width: 110px;
    }
    .news__title {
        font-size: rem(28);
    }
    .news__see-text {
        font-size: rem(14);
    }
    
    .trail-info__stats-item-title {
        font-size: rem(14);
    }
    .trail-info__stats-wrap {
        justify-content: space-between;
    }
    .about-trail__title {
        font-size: rem(28);
    }
    .reviews__text,
    .reviews__text-content p {
        padding: 0;
    }
    .reviews__load-text {
        font-size: rem(16);
    }
    .reviews__write-review {
        width: 100%;
    }
    .reviews__write-text {
        font-size: rem(15);
    }
    .reviews__wrapper {
        padding: 0;
    }
    .trail-info__stats-item {
        max-width: 150px;
    }
    .about-trail__tag {
        margin-left: 30px;
    }
    .about-trail__title_trail-page,
    .about-trail__place,
    .about-trail__wrap-stars {
        padding-left: 30px;
    }
}
@include bp(380px) {
    .trail-about__map-icons {
        padding: 0 30px;
        margin-top: -9px;
    }
    .trail-about__map-ico {
        width: 45px;
        height: 45px;
        margin-bottom: 0;
        img {
            width: 18px;
            height: 18px;
        }
    }
    .trail-about__map-ico-link {
        font-size: rem(14);
    }
    .trail-about-sect:after {
        height: 30px;
    }
    .trail-about__adv-link {
        font-size: rem(16);
        padding: 10px 20px;
    }
    .trail-about__adv-icon {
        width: 18px;
        height: 18px;
    }
    
    .trail-about__map-link {
        padding: 10px 20px;
        height: 55px;
    }
    .trail-about__map-img {
        // height: 155px;
    }
    .trail-about__adv .breadCrumbs {
        // margin-top: -270px;
        // margin-bottom: 266px;
    }
    .trail-about__map-icons {
        margin-bottom: 75px;
    }
}
@include bp(363px) {
    
    .reviews__slider::after {
        width: 55px;
    }
    .reviews__slider::before {
        width: 30px;
    }
    .reviews__btn {
        width: 30px;
        height: 30px;
    }
    .reviews__wrap-btn {
        margin-top: -15px;
    }
    .news__title {
        font-size: rem(25);
    }
    .news__see-text {
        font-size: rem(14);
    }
    .modal {
        &.open {
            top: 20px;
        }
    }
    .trail-new-info {
        .trail-info__climat-icon {
            width: 53px;
            height: 53px;
        }
    }
    .about-trail__tag {
        font-size: rem(14);
    }
    .about-trail__title_trail-page {
        font-size: rem(22);
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }
}
@include bp(330px) {
    .trail-about__map-wrapper {
        width: 300px;
    }
    .trail-about__map-img {
        height: 358px;
    }
    .trail-about__adv {
        .breadCrumbs {
            margin-top: -460px;
            margin-bottom: 466px;
        }
    }
}