@include bp(996px) {
    .navigation {
        // overflow-x: hidden;
    }
    .navigation-inside .menu {
        padding-bottom: 15px;
        padding-top: 70px;
        padding-right: 0;
    }
    .navigation-inside .menu__item {
        margin-right: 0;
    }
    .trail-info__wrapper {
        flex-direction: column;
    }
    .trail-info__wrap_left {
        margin-right: 0;
        max-width: 100%;
    }
    .trail-info__wrap_right {
        // display: flex;
        margin-left: 0;
        margin-top: 50px;
    }
    .trail-info__view-map {
        margin: 0 auto;
    }
    .navigation-inside {
        .search-bar {
            display: none;
        }
    }
    .trail-info__stats-wrap {
        column-gap: 80px;
    }
    .trail-info__badges {
        padding-top: 70px;
    }
    .reviews__slider:after {
        width: 65px;
    }
    .reviews__slider::before {
        width: 40px;
    }
    .reviews__wrapper {
        padding: 0 20px;
    }
    .trail-info__nearly {
        margin: 40px auto 0;
    }
    .news-inside {
        .news__title {
            span {
                display: block;
            }
        }
    }
    body {
        // overflow-x: hidden;
    }
    .modal {
        height: auto;
        width: 495px;
        margin-left: -(495 / 2) + px;
    }
    .modal__wrap-top,
    .modal__content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .modal__content {
        flex-direction: column;
        padding-bottom: 40px;
    }
    .modal__charts {
        height: 300px;
    }
    .type-page-tags.trail-country__popular-title,
    .trail-country__popular-title {
        margin-top: 50px;
    }

    // ==> New version
    .trail-about {
        flex-direction: column;
        &-sect:after {
            height: 38px;
        }
        &__adv {
            order: 1;
            display: flex;
            flex-direction: column;
            .breadCrumbs {
                position: relative;
                z-index: 25;
                order: -1;
                margin-top: -490px;
                margin-bottom: 496px;
            }
            
        }
        &__adv-wrap {
            flex-direction: column;
            margin-bottom: 41px;
        }
        &__adv-item {
            margin-right: 0;
            margin-bottom: 21px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__adv-link {
            padding: 20px 53px 20px 35px;
            justify-content: normal;
            font-size: rem(25);
        }
        &__adv-arrow {
            display: flex;
            margin-left: auto;
        }
        &__adv-icon {
            width: 32px;
            height: 32px;
        }
        &__map {
            margin-top: 0;
        }
        &__map-icons {
            margin-top: -23px;
            margin-bottom: 95px;
            padding: 0 105px 0 60px;
        }
        &__map-wrapper {
            max-width: 320px;
            margin: 0 auto;
        }
        &__map-img {
            // display: flex;
            // justify-content: center;
            // align-items: center;isplay: flex;
            // justify-content: center;
            // align-items: center;
            width: 100%;
            height: 383px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__map-ico {
            width: 75px;
            height: 75px;
            margin-bottom: 13px;
            img {
                width: 31px;
                height: 31px;
            }
        }
        &__map-ico-link {
            color: #818181;
            font-size: rem(20);
        }
        &__map-img {
            // height: 274px;
        }
        &__map-wrap {
            &:after {
                display: none;
            }
        }
    }
    .trail-info__desc {
        display: none;
    }
    .about-trail__tag {
        margin-left: 60px;
    }
    .about-trail__title_trail-page,
    .about-trail__place,
    .about-trail__wrap-stars {
        padding-left: 60px;
    }
    .about-trail__wrap-left {
        width: fit-content;
    }
    .trail-info__climat {
        width: 100%;
    }
    .trail-dop-info_img {
        overflow: hidden;
        .quick-links__img {
            // width: 100%;
        }
    }
    .trail-info__badget-item {
        width: 250px;
    }
    .trail-about__adv {
        padding: 0 15px;
    }
    .trail-new-info {
        .trail-info__stats {
            padding-top: 0;
        }
        .trail-info__wrap_right {
            margin-top: 0;
            margin-bottom: 127px;
        }
        .trail-info__wrap_left {
            order: 1;
        }
        .trail-info__climat-icon {
            width: 93px;
            height: 93px;
            margin-bottom: 11px;
        }
        .trail-info__climat-text {
            font-size: rem(25);
        }
        .trail-info__climat-title {
            margin-bottom: 25px;
        }
        .trail-info__climat-wrap {
            padding-right: 78px;
        }
    }
    .about-trail__place-text {
        font-size: rem(20);
    }
}