@include bp(1195px) {
    .trail-info__wrap_left {
        max-width: 552px;
    }
    .trail-info__stats-wrap {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .trail-info__stats-item_elevation, .trail-info__stats-item_max-mountains {
        margin-left: 0;
    }
    .trail-info__badges-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .trail-info__badget-item {
        width: 200px;
        margin-bottom: 20px;
        &:first-child {
            margin-right: 20px;
        }
    }
    .trail-country__popular-title {
        margin-top: 50px;
    }
    .trail-about__adv-item {
        margin-right: 8px;
    }
    .about-trail__tag {
        margin-left: 176px;
    }
    .about-trail__title_trail-page {
        padding-left: 174px;
    }
    .about-trail__place {
        padding-left: 180px;
    }
    .about-trail__wrap-stars {
        padding-left: 174px;
    }
}