footer.footer
    .container
        .row
            .col-md-10.m-auto
                .footer__wrap-logo-app
                    .footer__logo
                        a(href="#").footer__logo-link
                            img(src=`${mainVar.path.img}logo.png`, alt="Logotype")
                    .footer__app
                        h2.footer__main-title= mainText.footer.title
                        .footer__wrap-btns
                            a.footer__btn.footer__btn_ios(href="#")
                            a.footer__btn.footer__btn_google(href="#")
                .footer__wrap-other
                    .footer__wrapper.footer__wrapper_about
                        h3.footer__smal-title= mainText.footer.items.about[0]
                        p.footer__text= mainText.footer.items.about[1]
                        p.footer__text.footer__copy= mainText.footer.items.about[2]
                    .footer__wrapper.footer__wrapper_contact
                        h3.footer__smal-title= mainText.footer.items.contact[0]
                        a(href="#").footer__text= mainText.footer.items.contact[1]
                        a(href="#").footer__text= mainText.footer.items.contact[2]
                    .footer__wrapper.footer__wrapper_social
                        h3.footer__smal-title= mainText.footer.items.social[0]
                        ul.footer__social
                            li.footer__social-item
                                a(href="#").footer__social-link
                                    span
                                        +icon(mainText.footer.items.social[1], 'soft-white')
                            li.footer__social-item
                                a(href="#").footer__social-link
                                    span
                                        +icon(mainText.footer.items.social[2], 'soft-white')
                            li.footer__social-item
                                a(href="#").footer__social-link
                                    span
                                        +icon(mainText.footer.items.social[3], 'soft-white')