nav.navigation
    .container
        .row
            .col-3.col-md-2
                .logo
                    a.logo__link
                        img(src=`${mainVar.path.img}logo.png`, alt="")
            .col-2.col-md-5.ml-auto
                ul.menu
                    - for(let i = 0; i < mainText.menu.length; i++)
                        li.menu__item
                            a(href="#").menu__link
                                span= mainText.menu[i]
                .menu__mob
                    button.menu__mob_btn
                        span
                        span
                        span