//- - console.log(window)
nav.navigation.navigation-inside
    .container
        .row
            .col-md-10.m-auto
                .container
                    .row
                        .col-3.col-md-2
                            .logo
                                a.logo__link
                                    img(src=`${mainVar.path.img}logo.png`, alt="")
                        .col.col-md-6.ml-auto
                            form.search-bar
                                    .search-bar__wrap
                                        input(type="text" placeholder=`${mainText.heroPage.searchbar.placeholder}` class="search-bar__input")
                                        button.search-bar__button
                                            span= mainText.heroPage.searchbar.searchBtn
                        .col-2.col-md-4.ml-auto
                            ul.menu
                                - for(let i = 0; i < mainText.menuInside.length; i++)
                                    li.menu__item
                                        a(href="#").menu__link
                                            span= mainText.menuInside[i]
                            .menu__mob
                                button.menu__mob_btn
                                    span
                                    span
                                    span