.about {
    position: relative;
    padding-bottom: 276px;
    &_about-page {
        padding-bottom: 226px;
        .about {
            &__wrap {
                padding-top: 111px;
                padding-left: 111px;
            }
            &__title {
                @extend %quote-title;
                margin-bottom: 26px;
                span {
                    display: block;
                    height: 22px;
                    font-size: rem(64);
                }
            }
            &__wrap-text {
                display: block;
            }

            // .about__member

            &__member {
                margin-top: 30px;
            }

            // .about__name

            &__name {
                @extend %quote-item-name;
            }

            // .about__place

            &__place {
                @extend %quote-item-place;
            }

            // .about__stars

            &__stars {
                @extend %df;
                @extend %aic;
            }

            // .about__star-item

            &__star-item {
                margin-right: 4px;
                .icon-star {
                    width: 23px;
                    height: 21px;
                }
            }
        }
    }
    img {
        position: absolute;
        top: 0;
        left: -32px;
    }
		// .about__wrap

		&__wrap {
            padding-top: 121px;
            padding-left: 80px;
            padding-right: 96px;
		}

		// .about__title

		&__title {
            @extend %appfeature-new-title;
            color: $title_color;
            margin-bottom: 29px;
		}

		// .about__wrap-text

		&__wrap-text {
            @extend %df;
        }
        &__text {
            @extend %appfeature-new-text;
            color: $text_color;
            margin-right: 37px;
            &:last-child {
                margin-right: 0;
            }
        }
}
.container {
}
.row {
}
.col-md-6 {
}
.ml-auto {
}
