.app-feature-sect {
    padding-top: 124px;
    padding-bottom: 131px;
}
.container {
}
.row {
}
.col-md-10 {
}
.m-auto {
}
.app-feature {

		// .app-feature__title
        
		&__title {
            @extend %appfeature-title;
            color: $title_color;
            padding-left: 4px;
            margin-bottom: 65px;
        }
        
        &__wrapper {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
        }
        // .app-feature__card-title 
        &__card-title {
            @extend %appfeature-card-title;
            color: $green;
            margin-bottom: 11px;
        }

		// .app-feature__card

		&__card {
            position: relative;
            width: 299px;
            height: 192px;
            background-color: $white;
            box-shadow: 0px 9px 17px 0px rgba(182, 194, 208, 0.59);
            padding-top: 35px;
            padding-left: 113px;
            overflow: hidden;
            &_0 {
                .app-feature__icon {
                    background-color: $yelow;
                }
            }
            &_1 {
                .app-feature__icon {
                    background-color: $green;
                }
            }
            &_2 {
                .app-feature__icon {
                    background-color: $orange;
                }
            }
		}

        // .app-feature__icon
        
        &__icon {
            position: absolute;
            width: 112px;
            height: 112px;
            border-radius: 50%;
            left: -28px;
            top: 42px;
            span {
                display: block;
                margin-top: 34px;
                margin-left: 48px;
                @extend %apercu-light;
                @extend %fz-16;
                color: $white;
            }
        }
		// .app-feature__text

		&__text {
            @extend %appfeature-card-text;
            color: $text_color;
		}
}
.col-md-3 {
}
.col-md-4 {
}
