.app-info-sect {
    padding-top: 141px;
    padding-bottom: 144px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/app-bg.jpg);
}
.app-info {

		// .app-info__wrapper

		&__wrapper {
            padding-right: 80px;
            padding-left: 16px;
		}

		// .app-info__title

		&__title {
            @extend %appinfo-title;
            color: $white;
            margin-bottom: 24px;
		}

		// .app-info__text

		&__text {
            @extend %appinfo-text;
            color: $white;
            padding-left: 4px;
            padding-right: 34px;
            margin-bottom: 44px;
		}

		// .app-info__wrap-btn

		&__wrap-btn {
            @extend %df;
            height: 48px;
		}

		// .app-info__btn

		&__btn {
            display: block;
            width: 165px;
            height: 48px;
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            border-radius: 7px;
			// .app-info__btn_ios
            
			&_ios {
                margin-right: 37px;
                background-image: url(../img/ios-dow-btn.jpg);
			}
            
			// .app-info__btn_google
            
			&_google {
                width: 147px;
                border-radius: 10px;
                background-image: url(../img/google-dow-btn.jpg);
			}
		}
}
