.country-sect {
    background-color: #e8f8fc;
    padding-top: 103px;
    padding-bottom: 76px;
}
.country {

		// .country__title

		&__title {
            @extend %tag-sect-title;
            margin-bottom: 32px;
		}

		// .country__wrap

		&__wrap {
            @extend %df;
            flex-wrap: wrap;
		}

		// .country__item

		&__item {
            margin-right: 15px;
            margin-bottom: 10px;
		}

		// .country__tag

		&__tag {
            @extend %tag;
            
            background-color: $tag_green;
		}

		// .country__text

		&__text {
            margin-top: 32px;
            @extend %tag-sect-text;
		}
}
.trail-type-sect {
    overflow: hidden;
    position: relative;
    @extend .country-sect;
    padding-bottom: 226px;
    background-color: #fff7d1;
}
.trail-type {
    
		// .trail-type__title

		&__title {
            @extend %tag-sect-title;
            margin-bottom: 32px;
		}

		// .trail-type__wrap

		&__wrap {
            @extend .country__wrap;
		}

		// .trail-type__item

		&__item {
            @extend .country__item;
		}

		// .trail-type__link

		&__link {
            @extend %tag;
            background-color: $tag_orange;
		}
}
