.featured-sect {
    padding-top: 123px;
    padding-bottom: 124px;
    // overflow: hidden;
    // display: flex;
}
.container {
}
.featured {

    // .featured__wrap-text
    &__wrap-text {
        margin-top: 84px;
        padding-left: 18px;
    }


    // .featured__title

		&__title {
            @extend %featured-title;
            color: $title_color;
            margin-bottom: 16px;
		}

		// .featured__text

		&__text {
            @extend %featured-text;
            color: $text_color;
            padding-right: 20px;
            margin-bottom: 53px;
		}

		// .featured__wrap-btn

		&__wrap-btn {
		}

		// .featured__btn

		&__btn {
            @extend .popular__btn;
            width: 32px;
            height: 32px;
			// .featured__btn_prev

			&_prev {
			}

			// .featured__btn_next

			&_next {
                margin-left: 19px;  
			}
		}

		// .featured__trails

		&__trails {
		}

		// .featured__slider-item

		&__slider-item {
            max-width: 500px;
		}

		// .featured__slider-link

		&__slider-link {
            display: block;
            width: 100%;
		}

		// .featured__wrap-img

		&__wrap-img {
            width: 100%;
		}

		// .featured__slider-title

		&__slider-title {
            @extend .popular__slider-title;
            @extend %featured-slider-text;
            bottom: 45px;
            left: 34px;
		}
}
.slider {
}
.swiper-container {
}
.slider-featured {
}
.swiper-wrapper {
}
.swiper-slide {
}
