.header {
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 564px;
    // padding-top: 212px;
    @extend %df;
    @extend %aic;
    &_bg {
        background-image: url(../img/new-hero-bg.jpg);
        background-size: cover;
        background-position: left top;
        height: 100vh;
    }
}
.search-bar {
    margin-top: 22px;
    margin: 0 auto;

    &__title {
        @extend %search-title;
        padding-left: 6px;
        margin-bottom: 24px;
    }
		// .search-bar__wrap

		&__wrap {
            @extend %df;
            @extend %aic;
            margin: 0 8px;
            height: 73px;
            border-radius: 6px;
            overflow: hidden;
            background-color: $white;
            box-shadow: 0 0 50px 7px rgba(0,0,0,.35);
            position: relative;
            &:before {
                position: absolute;
                content: '';
                display: block;
                width: 17px;
                height: 17px;
                left: 27px;
                top: 50%;
                margin-top: -8px;
                background-image: url(../img/ico-search.png);
                background-size: cover;
                background-position: center center;
            }
		}
        // .search-bar__input 

        &__input {
            @extend %input-search;
            width: 78%;
            background-color: $white;
            padding-left: 62px;
            height: 100%;
            border: none;
        }

		// .search-bar__button

		&__button {
            width: 171px;
            height: 100%;
            @extend %search-btn;
            text-align: center;
            background-color: $yelow;
            border-radius: 6px;
            color: $white;
		}

		// .search-bar__wrap-btns

		&__wrap-btns {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
            padding:0 58px;
            margin-top: 40px;
		}

		// .search-bar__btns

		&__btns {
            @extend %header-btns;
			// .search-bar__btns_map

			&_map {
                padding: 0 38px;
                .icon {
                    width: 15px;
                    height: 15px;
                }
			}

			// .search-bar__btns_adv-serch

			&_adv-serch {
                padding: 0 57px;
                .icon {
                    width: 21px;
                    height: 14px;
                }
			}
        }
        &__wrap-tags {
            @extend %df;
            @extend %aic;
            padding-left: 7px;
            margin-top: 25px;
        }
        &__tags {
            @extend %df;
        }
        &__tags-title {
            @extend %search-tag-title;
            margin-right: 18px;
        }
        &__tags-item {
            margin-right: 13px;
        }
        &__tag-link {
            @extend %tag;
            padding: 5px 8px;
            background-color: $tag_green;
        }
}