.news {
    padding-bottom: 125px;
    position: relative;
    overflow: hidden;
    &-inside {
          padding-bottom: 292px;
          padding-top: 89px;
          .quick-links__img {
                
          }
    }
    &_about {
          padding-bottom: 187px;
    }
		// .news__title

		&__title {
            @extend %app-news-title;
            color: $title_color;
            padding-left: 5px;
            margin-bottom: 65px;
            span {
                  color: $orange;
            }
		}

		// .news__wrap

		&__wrap {
            @extend %df;
            @extend %jcsb;
            padding: 0 2px;
		}

		// .news__card

		&__card {
            max-width: 300px;
            overflow: hidden;
            padding-bottom: 27px;
            &:hover {
                box-shadow: 0px 9px 17px 0px rgba(182, 194, 208, 0.59);
            }
		}

		// .news__wrap-img

		&__wrap-img {
            width: 100%;
		}

		// .news__wrap-content

		&__wrap-content {
            padding: 24px 29px 0;
        }


		// .news__card-title

		&__card-title {
            @extend %app-news-card-title;
            color: $title_color;
            margin-bottom: 18px;
		}

		// .news__text

		&__text {
            @extend %app-news-card-text;
            color: $text_color;
            }
            &__wrap-all {
                  @extend %df;
                  @extend %aic;
                  @extend %jcc;
                  margin-top: 89px;
            }
            &__see-all {
                  @extend %news-see-all-link;

            }
            &__see-text {

            }
            &__see-icon {
                  display: inline-block;
                  margin-left: 10px;
                  .icon {
                        width: 11px;
                        height: 7px;
                        transform: rotate(-90deg);
                  }
            }
}
.container {
}
.row {
}
.col-md-10 {
}
.m-auto {
}
