.popular-sect {
    padding-top: 93px;
    padding-bottom: 76px;
    overflow: hidden;
    .swiper-container {
        position: relative;
        overflow: visible;
    }
}
.container {
}
.row {
}
.col-md-10 {
}
.m-auto {
}
.popular {

		// .popular__wrap

		&__wrap {
            @extend %df;
            align-items: flex-end;
            @extend %jcsb;
            margin-bottom: 50px;
		}

		// .popular__title

		&__title {
            @extend %popular-title;
            color: $title_color;
		}

        // .popular__link 
        
        &__link {
            @extend %popular-link-explore;
            color: $orange;
        }
		// .popular__trails

		&__trails {
            position: relative;
		}

		// .popular__slider-item

		&__slider-item {
            width: 300px;
		}

		// .popular__slider-link

		&__slider-link {
            position: relative;
            display: block;
            max-width: 300px;
		}

		// .popular__wrap-img

		&__wrap-img {
            width: 100%;
		}

		// .popular__slider-title

		&__slider-title {
            position: absolute;
            bottom: 0;
            left: 10px;
            @extend %popular-text;
            color: $white;
            bottom: 34px;
            left: 36px;
		}

		// .popular__btn
        &__wrap-btn {
            position: absolute;
            left: -45px;
            right: -45px;
            top: 50%;
            margin-top: -42px;
            z-index: 10;
            @extend %df;
            @extend %jcsb;
        }
		&__btn {
            width: 100%;
            box-shadow: 0 0 18px 7px rgba(105,128,131,.12);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            svg {
                width: inherit;
                height: inherit;
            }

			// .popular__btn_prev

			&_prev {
                // l-
			}

			// .popular__btn_next

			&_next {
			}
		}
}

