.pricing-sect {
    background-color: #e8f8fc;
    padding-top: 78px;
}
.pricing {

		// .pricing__title

		&__title {
            @extend %pricing-title;
            margin-bottom: 65px;
		}

		// .pricing__wrap

		&__wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 32px;
		}

		// .pricing__card

		&__card {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            padding: 24px 22px 112px;
            background-color: $white;
            box-shadow: 0px 4px 23.49px 3.51px rgba(0, 0, 0, 0.06);
            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 1050px;
                height: 400px;
                top: -350px;
                left: -200px;
                transform: rotate(-13deg);
                z-index: 1;
            }
			// .pricing__card_basic

			&_basic {
                &:after {
                    background-color: $pricing_btn_green;
                }
			}

			// .pricing__card_trail

			&_trail {
                &:after {
                    background-color: $pricing_btn_orange;
                }
			}

			// .pricing__card_hiiker

			&_hiiker {
                &:after {
                    background-color: $pricing_btn_blue;
                }
                .pricing {
                    &__cost-sub {
                        display: block;
                        margin-left: 0;
                    }
                    &__about {
                        margin-top: 50px;
                    }
                }
			}
		}

		// .pricing__best

		&__best {
            display: none;
        }
		// .pricing__header

		&__header {
            position: relative;
            z-index: 2;
        }
        
		// .pricing__header-title

		&__header-title {
            @extend %pricing-card-title;
            margin-bottom: 5px;
		}

		// .pricing__cost

		&__cost {
		}

		// .pricing__cost-text

		&__cost-text {
            @extend %pricing-card-count-text;
		}
        
        // .pricing__cost-sub

		&__cost-sub {
            @extend %pricing-card-count-sub;
            display: inline-block;
            margin-left: 3px;
		}

		// .pricing__about

		&__about {
            // position: relative;
            // z-index: 2;
            margin-top: 70px;
            @extend %df;
            flex-direction: column;
            @extend %jcsb;
		}

		// .pricing__about-text

		&__about-text {
            @extend %pricing-card-about;
		}

		// .pricing__wrapper

		&__wrapper {
            margin-top: 24px;
		}

		// .pricing__check-item

		&__check-item {
            @extend %df;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
		}

		// .pricing__check-icon

		&__check-icon {
            width: 20px;
            height: 20px;
            margin-top: 2px;
            .icon {
                width: inherit;
                height: inherit;
            }
		}

		// .pricing__check-text

		&__check-text {
            @extend %pricing-card-item-check;
            margin-left: 10px;
		}

		// .pricing__btn

		&__btn {
            position: absolute;
            bottom: 22px;
            left: 0;
            @extend %pricing-card-btn;
            @extend %df;
            @extend %aic;
            @extend %jcc;
            border-radius: 6px;
            width: 322px;
            height: 50px;
            margin: 0 22px;
			// .pricing__btn_basic

			&_basic {
                background-color: $pricing_btn_green;
			}

			// .pricing__btn_trail

			&_trail {
                background-color: $pricing_btn_orange;
			}

			// .pricing__btn_hiiker

			&_hiiker {
                background-color: $pricing_btn_blue;
			}
		}
}
.icon {
}
.icon-check {
}
.green {
}
.orange-check {
}
.blue {
}
