.quick-links {
    position: relative;
    overflow: hidden;
    padding-bottom: 243px;
    &__img {
        position: absolute;
        bottom: -114px;
        left: 50%;
        margin-left: -615px;
        width: auto;
        height: auto;
    }
		// .quick-links__title

		&__title {
            @extend %trails-near-title;
            color: $title_color;
            text-align: center;
		}

		// .quick-links__wrap

		&__wrap {
            @extend %df;
            @extend %jcsb;
            padding: 0 37px;
            margin-top: 63px;
		}

		// .quick-links__wrap-list

		&__wrap-list {
            // margin: 0 25px;
		}

		// .quick-links__item

		&__item {
            text-align: center;
            max-width: 180px;
            margin-bottom: 11px;
		}

		// .quick-links__link

		&__link {
            @extend %trails-near-item;
            color: $text_color;
		}
}
.container {
}
.row {
}
.col-md-10 {
}
