.about-text {
    padding-top: 77px;

		// .about-text__title

		&__title {
            @extend %about-us-title;
            padding-left: 5px;
            margin-bottom: 29px;
		}

		// .about-text__wrap

		&__wrap {
            padding-left: 5px;
            p {
                @extend %about-us-text;
                margin-bottom: 34px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
		}

		// .about-text__text

		&__text {
            @extend %about-us-text;
            margin-bottom: 34px;
            &:last-child {
                margin-bottom: 0;
            }
		}
}