.team {
    padding-top: 69px;
    padding-bottom: 123px;
		// .team__title

		&__title {
            @extend %team-title;
            padding-left: 2px;
            margin-bottom: 48px;
		}

		// .team__wrapper

		&__wrapper {
            @extend %df;
            @extend %jcsb;
            padding-right: 15px;
		}

		// .team__item

		&__item {
            max-width: 216px;
		}

		// .team__member-avatar

		&__member-avatar {
            width: 100%;
            overflow: hidden;
		}

		// .team__content

		&__content {
            padding: 12px 0 0 12px;
		}

		// .team__name

		&__name {
            @extend %team-item-name;
		}
        
        // .team__name

		&__text {
            @extend %team-item-position;
		}
}